# R filter data (Part 2)

In [6]:
#install.packages("dplyr") # filter data
#install.packages("pacman") # call multiple packages
#install.packages("readxl") # excel, csv
#install.packages("plyr") # filter data
#install.packages("Hmisc") # summirze data
#install.packages("xlsx")

In [3]:
pacman::p_load(tidyverse, haven, dplyr,readxl,stringr,Hmisc,xlsx)

also installing the dependencies 'htmltools', 'rlang', 'xfun', 'bslib', 'tinytex', 'scales', 'knitr', 'rmarkdown', 'broom', 'ggplot2', 'reprex'

Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6:
  no fue posible abrir la URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6/PACKAGES'"

  There are binary versions available but the source versions are later:
           binary source needs_compilation
htmltools 0.5.1.1  0.5.2              TRUE
rlang      0.4.11  1.0.2              TRUE
xfun         0.22   0.30              TRUE
bslib       0.2.4  0.3.1             FALSE
tinytex      0.31   0.38             FALSE
scales      1.1.1  1.2.0             FALSE
knitr        1.33   1.39             FALSE
rmarkdown     2.8   2.14             FALSE
broom       0.7.6  0.8.0             FALSE
ggplot2     3.3.3  3.3.5             FALSE
reprex      2.0.0  2.0.1             FALSE

  Binaries will be installed
package 'htmltools' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'htmltools'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\Roberto\anaconda3\Lib\R\library\00LOCK\htmltools\libs\x64\htmltools.dll  a C:\Users\Roberto\anaconda3\Lib\R\library\htmltools\libs\x64\htmltools.dll: Permission denied"Warning message:
"restored 'htmltools'"

package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\Roberto\anaconda3\Lib\R\library\00LOCK\rlang\libs\x64\rlang.dll  a C:\Users\Roberto\anaconda3\Lib\R\library\rlang\libs\x64\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

package 'xfun' successfully unpacked and MD5 sums checked
package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto\AppData\Local\Temp\RtmpAZSx7M\downloaded_packages

installing the source packages 'bslib', 'tinytex', 'scales', 'knitr', 'rmarkdown', 'broom', 'ggplot2', 'reprex'

Warning message in utils::install.packages(package, ...):
"installation of package 'bslib' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'tinytex' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'scales' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'knitr' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'rmarkdown' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'ggplot2' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'broom' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'reprex' had non-zero exit status"
tidyverse installed
Warning message:
"package 'tidyverse' was built under R version 3.6.3"Warning message:
"dependency 'foreign' is not available"also installing the dependencies 'rlang', 'xfun', 'scales', 'knitr', 'ggplot2', 'htmlTable', 'viridis'

Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6:
  no fue posible abrir la URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6/PACKAGES'"

  There are binary versions available but the source versions are later:
          binary source needs_compilation
rlang     0.4.11  1.0.2              TRUE
xfun        0.22   0.30              TRUE
scales     1.1.1  1.2.0             FALSE
knitr       1.33   1.39             FALSE
ggplot2    3.3.3  3.3.5             FALSE
htmlTable  2.1.0  2.4.0             FALSE
viridis    0.6.1  0.6.2             FALSE
Hmisc      4.5-0  4.7-0              TRUE

  Binaries will be installed
package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\Roberto\anaconda3\Lib\R\library\00LOCK\rlang\libs\x64\rlang.dll  a C:\Users\Roberto\anaconda3\Lib\R\library\rlang\libs\x64\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

package 'xfun' successfully unpacked and MD5 sums checked
package 'Hmisc' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto\AppData\Local\Temp\RtmpAZSx7M\downloaded_packages

installing the source packages 'scales', 'knitr', 'ggplot2', 'htmlTable', 'viridis'

Warning message in utils::install.packages(package, ...):
"installation of package 'scales' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'knitr' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'ggplot2' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'htmlTable' had non-zero exit status"Warning message in utils::install.packages(package, ...):
"installation of package 'viridis' had non-zero exit status"
Hmisc installed
Warning message:
"package 'Hmisc' was built under R version 3.6.3"Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6:
  no fue posible abrir la URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6/PACKAGES'"

package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto\AppData\Local\Temp\RtmpAZSx7M\downloaded_packages

xlsx installed
Warning message:
"package 'xlsx' was built under R version 3.6.3"Warning message in pacman::p_load(tidyverse, haven, dplyr, readxl, stringr, Hmisc, :
"Failed to install/load:
tidyverse, Hmisc, xlsx"

In [152]:
covid <- read.csv("../../data/fallecidos_covid.csv", sep = ";", encoding = "UTF-8" , header = TRUE, na.string = NA)

In [153]:
head(covid)

  FECHA_CORTE UUID                             FECHA_FALLECIMIENTO
1 20210302    cdbdc47c6c955a031f997677becb9065 20200729
2 20210302    a3aaeeedaba295f128635f5edbda6498 20200729
3 20210302    631e87aac1be2aabd19935a6a255a569 20200729
4 20210302    74c292a1a2c357a786b26a13fc839719 20200729
5 20210302    229e060d0ece75f752a790eab2e4470d 20200729
6 20210302    d46e3e2941b2e69d2c1c77ac25ce0afc 20200729
  EDAD_DECLARADA SEXO      FECHA_NAC DEPARTAMENTO PROVINCIA DISTRITO
1 64             MASCULINO 19551202  LIMA         LIMA      CHORRILLOS
2 78             FEMENINO  19420118  LIMA         LIMA      COMAS
3 66             MASCULINO 19540503  LIMA         LIMA      COMAS
4 69             MASCULINO 19510314  LIMA         LIMA      COMAS
5 71             MASCULINO 19490215  LIMA         LIMA      COMAS
6 72             MASCULINO 19480209  LIMA         LIMA      SAN MIGUEL

In [154]:
str(covid)

'data.frame':	47089 obs. of  9 variables:
 $ FECHA_CORTE        : int  20210302 20210302 20210302 20210302 20210302 20210302 20210302 20210302 20210302 20210302 ...
 $ UUID               : Factor w/ 47089 levels "000061cf65f7f0370461e74d909ca233",..: 37687 29829 17936 21284 6229 38953 39856 33551 13071 1413 ...
 $ FECHA_FALLECIMIENTO: int  20200729 20200729 20200729 20200729 20200729 20200729 20200729 20200729 20200729 20200729 ...
 $ EDAD_DECLARADA     : int  64 78 66 69 71 72 78 61 89 87 ...
 $ SEXO               : Factor w/ 4 levels "10","11","FEMENINO",..: 4 3 4 4 4 4 3 3 3 3 ...
 $ FECHA_NAC          : int  19551202 19420118 19540503 19510314 19490215 19480209 19420729 19590701 19310314 19321216 ...
 $ DEPARTAMENTO       : Factor w/ 25 levels "AMAZONAS","ANCASH",..: 15 15 15 15 15 15 15 15 15 15 ...
 $ PROVINCIA          : Factor w/ 201 levels "","ABANCAY","ACOBAMBA",..: 118 118 118 118 118 118 118 118 118 118 ...
 $ DISTRITO           : Factor w/ 1336 levels "","\xd1AHUIMPUQUIO",..: 278 320 320 320 320 1070 105 81 726 81 ...

In [155]:
attach(covid) # variables as object

The following objects are masked from covid (pos = 3):

    DEPARTAMENTO, DISTRITO, EDAD_DECLARADA, FECHA_CORTE,
    FECHA_FALLECIMIENTO, FECHA_NAC, PROVINCIA, SEXO, UUID

The following objects are masked from covid (pos = 4):

    DEPARTAMENTO, DISTRITO, EDAD_DECLARADA, FECHA_CORTE,
    FECHA_FALLECIMIENTO, FECHA_NAC, PROVINCIA, SEXO, UUID

The following objects are masked from covid (pos = 5):

    DEPARTAMENTO, DISTRITO, EDAD_DECLARADA, FECHA_CORTE,
    FECHA_FALLECIMIENTO, FECHA_NAC, PROVINCIA, SEXO, UUID

The following objects are masked from covid (pos = 6):

    DEPARTAMENTO, DISTRITO, EDAD_DECLARADA, FECHA_CORTE,
    FECHA_FALLECIMIENTO, FECHA_NAC, PROVINCIA, SEXO, UUID

The following objects are masked from covid (pos = 7):

    DEPARTAMENTO, DISTRITO, EDAD_DECLARADA, FECHA_CORTE,
    FECHA_FALLECIMIENTO, FECHA_NAC, PROVINCIA, SEXO, UUID

In [156]:
# Check unique values 

dim(covid[duplicated(UUID),])[1]

[1] 0

### ¿A qué sexo pertenecen el mayor número de fallecidos?

In [157]:
# deaths on gender 

nrow(covid[covid$SEXO == "MASCULINO",])


nrow(covid[covid$SEXO == "FEMENINO",])

[1] 31754

[1] 15325

In [158]:
# count using dplyer library 

covid %>% group_by(SEXO) %>% tally()

  SEXO      n
1 10            3
2 11            7
3 FEMENINO  15325
4 MASCULINO 31754

In [159]:
# Replacing values

covid %>% mutate(SEXO = replace(SEXO, (SEXO == 10 | SEXO == 11) , NA))  %>% group_by(SEXO) %>% tally()

  SEXO      n
1 FEMENINO  15325
2 MASCULINO 31754
3 NA           10

In [160]:
covid %>%  filter(EDAD_DECLARADA > 30 & EDAD_DECLARADA < 60) %>% 
           mutate(SEXO = replace(SEXO, (SEXO == 10 | SEXO == 11) , NA))  %>% 
            group_by(SEXO) %>% tally()

  SEXO      n
1 FEMENINO  3769
2 MASCULINO 9590
3 NA           3

### ¿Cuántas observaciones no cuentan con información de fecha de nacimiento?

In [161]:
# Missing value of single column
 
sum(is.na(covid$FECHA_NAC))

[1] 15342


## <a id='def'>Halla el total de fallecidos por departamento.</a>

In [162]:
departamento <- covid %>% group_by(DEPARTAMENTO) %>% tally %>% rename(deaths_departamento = n)

In [163]:
### Halla el total de fallecidos por distrito.

provincia <- covid %>% group_by(DEPARTAMENTO, PROVINCIA) %>% tally %>% rename(deaths_provincia = n)

In [164]:
provincia

    DEPARTAMENTO PROVINCIA                 deaths_provincia
1   AMAZONAS     BAGUA                      109
2   AMAZONAS     BONGARA                     15
3   AMAZONAS     CHACHAPOYAS                 44
4   AMAZONAS     CONDORCANQUI                22
5   AMAZONAS     LUYA                        22
6   AMAZONAS     RODRIGUEZ DE MENDOZA        16
7   AMAZONAS     UTCUBAMBA                   98
8   ANCASH                                  144
9   ANCASH       AIJA                         6
10  ANCASH       ASUNCION                     2
11  ANCASH       BOLOGNESI                   19
12  ANCASH       CARHUAZ                     24
13  ANCASH       CARLOS FERMIN FITZCARRALD    1
14  ANCASH       CASMA                       87
15  ANCASH       CORONGO                      3
16  ANCASH       HUARAZ                     224
17  ANCASH       HUARI                       26
18  ANCASH       HUARMEY                     54
19  ANCASH       HUAYLAS                     43
20  ANCASH       MARISCAL LUZURIAGA           3
21  ANCASH       OCROS                        4
22  ANCASH       PALLASCA                     9
23  ANCASH       POMABAMBA                    8
24  ANCASH       RECUAY                      25
25  ANCASH       SANTA                     1162
26  ANCASH       SIHUAS                      11
27  ANCASH       YUNGAY                      23
28  APURIMAC     ABANCAY                    125
29  APURIMAC     ANDAHUAYLAS                 77
30  APURIMAC     ANTABAMBA                   11
... ...          ...                       ...
188 PUNO         MELGAR                     22
189 PUNO         MOHO                        8
190 PUNO         PUNO                      190
191 PUNO         SAN ANTONIO DE PUTINA      10
192 PUNO         SAN ROMAN                 213
193 PUNO         SANDIA                     18
194 PUNO         YUNGUYO                    29
195 SAN MARTIN                              10
196 SAN MARTIN   BELLAVISTA                 39
197 SAN MARTIN   EL DORADO                  24
198 SAN MARTIN   HUALLAGA                   19
199 SAN MARTIN   LAMAS                      61
200 SAN MARTIN   MARISCAL CACERES          124
201 SAN MARTIN   MOYOBAMBA                  89
202 SAN MARTIN   PICOTA                     34
203 SAN MARTIN   RIOJA                      80
204 SAN MARTIN   SAN MARTIN                365
205 SAN MARTIN   TOCACHE                    50
206 TACNA        CANDARAVE                   8
207 TACNA        JORGE BASADRE              10
208 TACNA        TACNA                     571
209 TACNA        TARATA                      7
210 TUMBES                                   5
211 TUMBES       CONTRALMIRANTE VILLAR      42
212 TUMBES       TUMBES                    322
213 TUMBES       ZARUMILLA                  77
214 UCAYALI                                 37
215 UCAYALI      ATALAYA                    10
216 UCAYALI      CORONEL PORTILLO          432
217 UCAYALI      PADRE ABAD                 55

In [165]:
head(provincia)

  DEPARTAMENTO PROVINCIA            deaths_provincia
1 AMAZONAS     BAGUA                109
2 AMAZONAS     BONGARA               15
3 AMAZONAS     CHACHAPOYAS           44
4 AMAZONAS     CONDORCANQUI          22
5 AMAZONAS     LUYA                  22
6 AMAZONAS     RODRIGUEZ DE MENDOZA  16

In [166]:
distritos <- covid %>% group_by(DEPARTAMENTO, PROVINCIA, DISTRITO) %>% tally %>% rename(deaths_distrito = n)

## <a id='def'>Merge Dataset </a>

In [167]:
base_total <- merge( distritos, provincia , by = c("DEPARTAMENTO", "PROVINCIA"), all.x = TRUE)

In [168]:
base_total

     DEPARTAMENTO PROVINCIA             DISTRITO              deaths_distrito
1    AMAZONAS     BAGUA                 ARAMANGO              10
2    AMAZONAS     BAGUA                 BAGUA                 60
3    AMAZONAS     BAGUA                 COPALLIN               4
4    AMAZONAS     BAGUA                 IMAZA                 24
5    AMAZONAS     BAGUA                 LA PECA               11
6    AMAZONAS     BONGARA               CHURUJA                2
7    AMAZONAS     BONGARA               JAZAN                  9
8    AMAZONAS     BONGARA               JUMBILLA               1
9    AMAZONAS     BONGARA               SAN CARLOS             1
10   AMAZONAS     BONGARA               VALERA                 1
11   AMAZONAS     BONGARA               YAMBRASBAMBA           1
12   AMAZONAS     CHACHAPOYAS           BALSAS                 1
13   AMAZONAS     CHACHAPOYAS           CHACHAPOYAS           31
14   AMAZONAS     CHACHAPOYAS           CHUQUIBAMBA            2
15   AMAZONAS     CHACHAPOYAS           HUANCAS                1
16   AMAZONAS     CHACHAPOYAS           LA JALCA               2
17   AMAZONAS     CHACHAPOYAS           LEIMEBAMBA             1
18   AMAZONAS     CHACHAPOYAS           MAGDALENA              1
19   AMAZONAS     CHACHAPOYAS           MARISCAL CASTILLA      1
20   AMAZONAS     CHACHAPOYAS           MONTEVIDEO             1
21   AMAZONAS     CHACHAPOYAS           SOLOCO                 3
22   AMAZONAS     CONDORCANQUI          EL CENEPA              3
23   AMAZONAS     CONDORCANQUI          NIEVA                 13
24   AMAZONAS     CONDORCANQUI          RIO SANTIAGO           6
25   AMAZONAS     LUYA                  CAMPOREDONDO           1
26   AMAZONAS     LUYA                  CAMPORREDONDO          1
27   AMAZONAS     LUYA                  COCABAMBA              1
28   AMAZONAS     LUYA                  LAMUD                  4
29   AMAZONAS     LUYA                  LONYA CHICO            1
30   AMAZONAS     LUYA                  LUYA                   5
...  ...          ...                   ...                   ...
1509 TUMBES                             TUMBES                  2
1510 TUMBES                             ZORRITOS                1
1511 TUMBES       CONTRALMIRANTE VILLAR CANOAS DE PUNTA SAL    12
1512 TUMBES       CONTRALMIRANTE VILLAR CASITAS                 5
1513 TUMBES       CONTRALMIRANTE VILLAR ZORRITOS               25
1514 TUMBES       TUMBES                CORRALES               48
1515 TUMBES       TUMBES                LA CRUZ                14
1516 TUMBES       TUMBES                PAMPAS DE HOSPITAL      6
1517 TUMBES       TUMBES                SAN JACINTO            11
1518 TUMBES       TUMBES                SAN JUAN DE LA VIRGEN   6
1519 TUMBES       TUMBES                TUMBES                237
1520 TUMBES       ZARUMILLA             AGUAS VERDES           29
1521 TUMBES       ZARUMILLA             MATAPALO                1
1522 TUMBES       ZARUMILLA             PAPAYAL                 4
1523 TUMBES       ZARUMILLA             ZARUMILLA              43
1524 UCAYALI                                                   37
1525 UCAYALI      ATALAYA               RAIMONDI                2
1526 UCAYALI      ATALAYA               RAYMONDI                3
1527 UCAYALI      ATALAYA               SEPAHUA                 2
1528 UCAYALI      ATALAYA               TAHUANIA                3
1529 UCAYALI      CORONEL PORTILLO      CALLERIA              262
1530 UCAYALI      CORONEL PORTILLO      CAMPOVERDE              4
1531 UCAYALI      CORONEL PORTILLO      MANANTAY               64
1532 UCAYALI      CORONEL PORTILLO      MASISEA                 4
1533 UCAYALI      CORONEL PORTILLO      NUEVA REQUENA           5
1534 UCAYALI      CORONEL PORTILLO      YARINACOCHA            93
1535 UCAYALI      PADRE ABAD            CURIMANA                2
1536 UCAYALI      PADRE ABAD            IRAZOLA                 6
1537 UCAYALI      PADRE ABAD            NESHUYA                 7
1538 UCAYALI      PADRE ABAD            PADRE ABAD             40
     deaths_provincia
1    109
2    109
3    109
4    109
5    109
6     15
7     15
8     15
9     15
10    15
11    15
12    44
13    44
14    44
15    44
16    44
17    44
18    44
19    44
20    44
21    44
22    22
23    22
24    22
25    22
26    22
27    22
28    22
29    22
30    22
...  ...
1509   5
1510   5
1511  42
1512  42
1513  42
1514 322
1515 322
1516 322
1517 322
1518 322
1519 322
1520  77
1521  77
1522  77
1523  77
1524  37
1525  10
1526  10
1527  10
1528  10
1529 432
1530 432
1531 432
1532 432
1533 432
1534 432
1535  55
1536  55
1537  55
1538  55

In [169]:
base_total <- merge( base_total, departamento, by = c("DEPARTAMENTO"), all.x = TRUE)

In [170]:
head(base_total)

  DEPARTAMENTO PROVINCIA DISTRITO deaths_distrito deaths_provincia
1 AMAZONAS     BAGUA     ARAMANGO 10              109
2 AMAZONAS     BAGUA     BAGUA    60              109
3 AMAZONAS     BAGUA     COPALLIN  4              109
4 AMAZONAS     BAGUA     IMAZA    24              109
5 AMAZONAS     BAGUA     LA PECA  11              109
6 AMAZONAS     BONGARA   CHURUJA   2               15
  deaths_departamento
1 326
2 326
3 326
4 326
5 326
6 326

In [176]:
base_total$distr_prov = round(((base_total$deaths_distrito)/(base_total$deaths_provincia))*100, digit=2)
base_total$prov_dpto = round(((base_total$deaths_provincia)/(base_total$deaths_departamento))*100, digit=2)
base_total$distr_dpto = round(((base_total$deaths_distrito)/(base_total$deaths_departamento))*100, digit=2)


#muertos_covid['distr_prov']=(muertos_covid['Muertos por distrito']/muertos_covid['Muertos por provincia'])*100
#muertos_covid['prov_dpto']=(muertos_covid['Muertos por provincia']/muertos_covid['Muertos por departamento'])*100
#muertos_covid['distr_dpto']=(muertos_covid['Muertos por distrito']/muertos_covid['Muertos por departamento'])*100
#Tabla_1 = muertos_covid[['DEPARTAMENTO','PROVINCIA','DISTRITO','distr_prov']].round(2)
#Tabla_1

In [177]:
head(base_total)

  DEPARTAMENTO PROVINCIA DISTRITO deaths_distrito deaths_provincia
1 AMAZONAS     BAGUA     ARAMANGO 10              109
2 AMAZONAS     BAGUA     BAGUA    60              109
3 AMAZONAS     BAGUA     COPALLIN  4              109
4 AMAZONAS     BAGUA     IMAZA    24              109
5 AMAZONAS     BAGUA     LA PECA  11              109
6 AMAZONAS     BONGARA   CHURUJA   2               15
  deaths_departamento distr_prov prov_dpto distr_dpto
1 326                  9.17      33.44      3.07
2 326                 55.05      33.44     18.40
3 326                  3.67      33.44      1.23
4 326                 22.02      33.44      7.36
5 326                 10.09      33.44      3.37
6 326                 13.33       4.60      0.61

In [178]:
write.csv(base_total, '../../data/base_total.csv')

# References


https://rstudio-education.github.io/hopr/dataio.html

https://www.geeksforgeeks.org/merge-dataframes-by-column-names-in-r/

https://www.geeksforgeeks.org/how-to-replace-specific-values-in-column-in-r-dataframe/