# Workgroup 3 resolution  - Python script

In [2]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 75%; }
    div#menubar-container     { width: 95%; }
    div#maintoolbar-container { width: 65%; }a
</style>
"""))

In [139]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series


junin_data = pd.read_excel("../../data/Region_Junin.xlsx")

In [140]:
junin_data.drop(junin_data.columns[0], axis=1, inplace=True)  

# drop first column
# inplace True let us to altere data

In [141]:
junin_data

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,209,544,361,216,1,1,4,284,290,1
1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,50,100,50,50,0,0,0,100,0,0
2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,25,...,25,72,47,25,0,0,0,69,3,0
3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,25,...,25,50,25,25,0,0,0,25,25,0
4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,3,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,42,...,0,72,72,0,0,0,0,35,39,0
193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,8,...,7,23,16,7,0,0,0,21,2,0
194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,7,...,8,30,22,8,0,0,0,4,26,0
195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,41,...,37,103,76,44,0,0,37,14,69,0
196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,8,...,30,126,96,30,0,0,1,118,7,0

## 1.0  Variable's name

In [142]:
# all varaibles name  

print(junin_data.columns)

type(junin_data.columns)

Index(['Region', 'District', 'Place', '4_6_years_men', '4_6_years_women',
       '4_6_years_total', '6_14_years_men', '6_14_years_women',
       '6_14_years_total', 'man_read', 'women_read', 'total_read',
       'men_not_read', 'women_not_read', 'total_not_read', 'man_write',
       'women_write', 'total_write', 'men_not_write', 'women_not_write',
       'total_not_write', 'instruction_men', 'instruction_women',
       'instruction_total', 'no_instruction_men', 'no_instruction_women',
       'no_instruction_total', 'finished_instr_men', 'finished_instr_women',
       'finished_instr_total', 'not_finished_instr_men',
       'not_finished_instr_women', 'not_finished_instr_total', 'peruvian_men',
       'peruvian_women', 'foreign_men', 'foreign_women', 'whites', 'natives',
       'mestizos', 'blacks'],
      dtype='object')

pandas.core.indexes.base.Index

## 2.0 Type of variables and summarize

In [143]:
# Type of varaibles 

junin_data.info()

# First varaibles are object type (string), the rest of variables is int type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Region                    197 non-null    object
 1   District                  197 non-null    object
 2   Place                     197 non-null    object
 3   4_6_years_men             197 non-null    int64
 4   4_6_years_women           197 non-null    int64
 5   4_6_years_total           197 non-null    int64
 6   6_14_years_men            197 non-null    int64
 7   6_14_years_women          197 non-null    int64
 8   6_14_years_total          197 non-null    int64
 9   man_read                  197 non-null    int64
 10  women_read                197 non-null    int64
 11  total_read                197 non-null    int64
 12  men_not_read              197 non-null    int64
 13  women_not_read            197 non-null    int64
 14  total_not_read            197 non-null    int64
 15  man_write                 197 non-null    int64
 16  women_write               197 non-null    int64
 17  total_write               197 non-null    int64
 18  men_not_write             197 non-null    int64
 19  women_not_write           197 non-null    int64
 20  total_not_write           197 non-null    int64
 21  instruction_men           197 non-null    int64
 22  instruction_women         197 non-null    int64
 23  instruction_total         197 non-null    int64
 24  no_instruction_men        197 non-null    int64
 25  no_instruction_women      197 non-null    int64
 26  no_instruction_total      197 non-null    int64
 27  finished_instr_men        197 non-null    int64
 28  finished_instr_women      197 non-null    int64
 29  finished_instr_total      197 non-null    int64
 30  not_finished_instr_men    197 non-null    int64
 31  not_finished_instr_women  197 non-null    int64
 32  not_finished_instr_total  197 non-null    int64
 33  peruvian_men              197 non-null    int64
 34  peruvian_women            197 non-null    int64
 35  foreign_men               197 non-null    int64
 36  foreign_women             197 non-null    int64
 37  whites                    197 non-null    int64
 38  natives                   197 non-null    int64
 39  mestizos                  197 non-null    int64
 40  blacks                    197 non-null    int64
dtypes: int64(38), object(3)
memory usage: 63.2+ KB

In [144]:
junin_data.describe()

,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,total_read,men_not_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,...,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,16.979695,15.345178,32.324873,79.005076,62.482234,141.538071,34.654822,11.705584,46.360406,61.294416,...,79.238579,172.675127,95.918782,77.664975,0.030457,0.010152,9.893401,110.558376,52.583756,0.776650
std,22.571419,21.618979,43.489455,99.837291,90.879972,188.535210,51.091581,34.676708,83.291516,84.511046,...,111.799104,220.657751,120.177520,110.539722,0.265511,0.100501,39.677190,131.094774,123.120065,7.584952
min,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,4.000000,8.000000,25.000000,19.000000,42.000000,2.000000,0.000000,2.000000,22.000000,...,25.000000,50.000000,31.000000,25.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
50%,10.000000,9.000000,20.000000,55.000000,41.000000,91.000000,21.000000,0.000000,23.000000,41.000000,...,50.000000,108.000000,65.000000,50.000000,0.000000,0.000000,0.000000,73.000000,3.000000,0.000000
75%,20.000000,18.000000,39.000000,88.000000,73.000000,160.000000,42.000000,7.000000,50.000000,65.000000,...,94.000000,197.000000,103.000000,91.000000,0.000000,0.000000,0.000000,143.000000,48.000000,0.000000
max,184.000000,184.000000,368.000000,950.000000,957.000000,1907.000000,317.000000,225.000000,542.000000,817.000000,...,1089.000000,2164.000000,1132.000000,1141.000000,3.000000,1.000000,348.000000,1367.000000,808.000000,92.000000

## 3.0 Missing values

In [145]:
# Checking missing values

names = junin_data.columns

for j in names:
    
    a = junin_data.isnull().values.any()
    if (a == True):
        print(f"{j} has missing values")
            
    else: 
        print(f"{j} does not has missing values")

Region does not has missing values
District does not has missing values
Place does not has missing values
4_6_years_men does not has missing values
4_6_years_women does not has missing values
4_6_years_total does not has missing values
6_14_years_men does not has missing values
6_14_years_women does not has missing values
6_14_years_total does not has missing values
man_read does not has missing values
women_read does not has missing values
total_read does not has missing values
men_not_read does not has missing values
women_not_read does not has missing values
total_not_read does not has missing values
man_write does not has missing values
women_write does not has missing values
total_write does not has missing values
men_not_write does not has missing values
women_not_write does not has missing values
total_not_write does not has missing values
instruction_men does not has missing values
instruction_women does not has missing values
instruction_total does not has missing values
no_instruction_men does not has missing values
no_instruction_women does not has missing values
no_instruction_total does not has missing values
finished_instr_men does not has missing values
finished_instr_women does not has missing values
finished_instr_total does not has missing values
not_finished_instr_men does not has missing values
not_finished_instr_women does not has missing values
not_finished_instr_total does not has missing values
peruvian_men does not has missing values
peruvian_women does not has missing values
foreign_men does not has missing values
foreign_women does not has missing values
whites does not has missing values
natives does not has missing values
mestizos does not has missing values
blacks does not has missing values

In [166]:
junin_data.isnull().sum()

# No missing values in any variable

Region                      0
District                    0
comunidad                   0
4_6_years_men               0
4_6_years_women             0
4_6_years_total             0
6_14_years_men              0
6_14_years_women            0
6_14_years_total            0
man_read                    0
women_read                  0
total_read                  0
nlee_hombre                 0
nlee_mujer                  0
ntotal_lee                  0
man_write                   0
women_write                 0
total_write                 0
nesc_hombre                 0
nesc_mujer                  0
nesc_total                  0
instruction_men             0
instruction_women           0
instruction_total           0
no_instruction_men          0
no_instruction_women        0
no_instruction_total        0
not_finished_instr_men      0
not_finished_instr_women    0
not_finished_instr_total    0
peruvian_men                0
peruvian_women              0
foreign_men                 0
foreign_women               0
whites                      0
natives                     0
mestizos                    0
blacks                      0
total_population            0
%women_not_read_write       0
%men_not_read_write         0
%natives                    0
dtype: int64

## 4.0 Rename variables

In [146]:
# rename variables 
dict_name = {'Place': 'comunidad','men_not_read': 'nlee_hombre', 'women_not_read': 'nlee_mujer',
             'men_not_write': 'nesc_hombre', 'women_not_write' : 'nesc_mujer', 'total_not_read': 'ntotal_lee',
            'total_not_write': 'nesc_total'}
junin_data.rename(columns = dict_name, inplace = True)

In [147]:
junin_data

,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,209,544,361,216,1,1,4,284,290,1
1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,50,100,50,50,0,0,0,100,0,0
2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,25,...,25,72,47,25,0,0,0,69,3,0
3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,25,...,25,50,25,25,0,0,0,25,25,0
4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,3,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,42,...,0,72,72,0,0,0,0,35,39,0
193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,8,...,7,23,16,7,0,0,0,21,2,0
194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,7,...,8,30,22,8,0,0,0,4,26,0
195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,41,...,37,103,76,44,0,0,37,14,69,0
196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,8,...,30,126,96,30,0,0,1,118,7,0

## 6.0 Unique values (comunidad and district)

In [148]:

list(junin_data.comunidad.unique())

['C.CIUDAD DEL CERRO',
 'P.YANACANCHA',
 'VICO',
 'RANCA',
 'PASCO',
 'QUIRLACOCHA',
 'CAJAMARQUILLA',
 'CAICO',
 'ROCO',
 'C.SACRA FAMILIA',
 'P.QUINUA',
 'H.PARIAHUANCA',
 'P.SULLUMARCA',
 'H.SAN ANDRÉS',
 'P.HUALLAY',
 'C.HUAYCHAO',
 'COCHAMARCA',
 'P.CHACAYÁN',
 'VILCABAMBA',
 'CUCHES',
 'CHANGO',
 'MITO',
 'ANTAPIRCA',
 'P.CAYNA',
 'A. COLPAS',
 'P.YACAS',
 'C.MASQUIN',
 'P.YAMOR',
 'PÁUCAR',
 'TANGOR',
 'QUIO',
 'CAURY',
 'CHUCCHUC',
 'COQUIN',
 'A.YAPOC',
 'P.YANAHUANCA',
 'HUAYLACIRCA',
 'HUARANTAMBO',
 'ANDUCHACA',
 'VILLO',
 'MICHIVILCA',
 'PILLAO',
 'YACÁN',
 'TÁPUC',
 'CHAUPIMARCA',
 'P.OXAPAMPA',
 'P.JAUJA',
 'A.CHUNÁN',
 'C.PACAPACHA',
 'HUANCAS',
 'A.HUERTAS',
 'PACA',
 'MASMA',
 'ATAURA',
 'HUALÁ',
 'JULCÁN',
 'P.RICRÁN',
 'A.PAUCÁN',
 'P.APATA',
 'HUAMALÍ',
 'A.SAN LORENZO',
 'PACUCHO',
 'P.ORCOTUNA',
 'A.VICSO',
 'TISTES',
 'P.HUARIPAMPA',
 'A.PARCO',
 'PACCHA',
 'CANCHAPUNCO',
 'C.ULLUSCA',
 'CANCHAS',
 'P.MUQUIYAUYO',
 'MUQUI',
 'P.ACOLLA',
 'MARCO',
 'TRAGADERO',
 'CHOCÓN',
 'ACAYA',
 'YAUJAILLO',
 'CURICACA',
 'P.CINCOS',
 'C.LLACUARI',
 'P.HUANCARÍ',
 'C.CHALHUAS',
 'ARAMACHAY',
 'P.MITO',
 'A.CHAMBARÁ',
 'C.QUICHA',
 'HUACHAC',
 'A.ACO',
 'P.LLOCLLAPAMPA',
 'VISCAS ESPERANZA',
 'CONCHAILLO',
 'MATA-CHICO',
 'MATA-GRANDE',
 'P.CONCEPCIÓN',
 'SANTA ROSA DE OCOPA',
 'HUANTAR',
 'A.ALAYO',
 'C.SAN ANTONIO DE CARICANCHO',
 'SANTO DOMINGO',
 'P.CÓMAS',
 'C.CHUPA',
 'COCHAS',
 'P.MATAHUASI',
 'P.HUANCAYO',
 'CAJAS',
 'P.CHUPACA',
 'A.ISCOS',
 'ANTAPAMPA',
 'HUAUSCA GRANDE',
 'SAN JUAN DE TARPA',
 'YANACANCHA',
 'COPCA',
 'HUAYAN',
 'HUAMANCACA',
 'PILCOMAYO',
 'AHUAC',
 'ACAC',
 'P.SAN GERÓNIMO',
 'HUALHUAS',
 'SAN PEDRO DE SAÑO',
 'QUICHUAY',
 'CASACANCHA',
 'A.INGENIO',
 'P.SANTA CRUZ DE QUILCAY',
 'RANGRA',
 'P.SAPALLANGA',
 'A.LA PUNTA',
 'P.PUCARÁ',
 'C.PATALÁ',
 'MARCAVALLE',
 'COCHARCAS',
 'P.CHONGOS',
 'C.TURPAC Y TINYARI',
 'SOCOS',
 'PUMPUNGA',
 'CHUPURO',
 'CARHUAPACHA',
 'A.HUAMANCACA',
 'P.SICAYA',
 'A.HUANCHAC',
 'C.CACHICAMARCA',
 'P.COLCA',
 'A.CHACAPAMPA',
 'HUASICANCHA',
 'CUCHO',
 'CHILIAY',
 'POTACA',
 'LARIA',
 'CHONGOS ALTO',
 'P.HUAYUCACHI',
 'HUAMANMARCA',
 'VIQUES',
 'CACAS',
 'HUARAPUQUIO',
 'CULLHUAS',
 'RETAMA',
 'PACHA',
 'P.TARMA',
 'MACO',
 'MULLUERO',
 'ANDAMARCA',
 'CHANCHA',
 'TARMATAMBO',
 'P.JUNÍN',
 'HUASAHUASY',
 'PARI',
 'YANEC',
 'CHUPÁN',
 'ACONCOCHA',
 'ONDORES',
 'P.ACOBAMBA',
 'PICOY',
 'C.HUARACAYO',
 'A.PALCA',
 'C.HUAILAHUICHÁN',
 'P.PALCAMAYO',
 'P.OROYA',
 'HUAYNACANCHA',
 'HUAYHUAY',
 'P.CARHUAMAYO',
 'ULCUMAYO',
 'P.SAN RAMÓN',
 'LA MERCED',
 'P.VISCATÁN',
 'PAN DE AZÚCAR',
 'SUITUCANCHA',
 'CHACAPALCA',
 'P.POMACOCHA',
 'PACHACHACA',
 'YAULI',
 'MINAS DE MOROCOCHA']

In [149]:
list(junin_data.District.unique())

['CIUDAD DEL CERRO',
 'HUAYLLAY',
 'CHACAYÁN',
 'CAYNA',
 'YANAHUANCA',
 'NINACACA',
 'JAUJA',
 'APATA',
 'ORCOTUNA',
 'HUARIPAMPA',
 'MUQUIYAUYO',
 'ACOLLA',
 'CINCOS',
 'MITO',
 'LLOCLLAPAMPA',
 'CONCEPCIÓN',
 'COCHAS',
 'MATAHUASI',
 'HUANCAYO',
 'CHUPACA',
 'SAN GERÓNIMO',
 'SAPALLANGA',
 'CHONGOS',
 'SICAYA',
 'COLCA',
 'HUAYUCACHI',
 'TARMA',
 'JUNÍN',
 'ACOBAMBA',
 'OROYA',
 'CARHUAMAYO',
 'CHANCHAMAYO',
 'VITOC',
 'CHACAPALCA',
 'YAULI']

## 7.0 Drop variables

In [150]:
junin_data.drop(['finished_instr_total', 'finished_instr_men' , 'finished_instr_women'], axis=1 , inplace = True)

## 8.0 Percentage variables

In [151]:
junin_data['total_population'] = junin_data['peruvian_men']+junin_data['peruvian_women']+junin_data['foreign_men']+junin_data['foreign_women']

In [152]:
junin_data['%women_not_read_write'] = ((junin_data['nlee_mujer']+junin_data['nesc_mujer'])/junin_data['total_population'])*100

junin_data['%men_not_read_write'] = ((junin_data['nlee_hombre']+junin_data['nesc_hombre'])/junin_data['total_population'])*100


junin_data['%natives'] = (junin_data['natives']/junin_data['total_population'])*100

In [153]:
junin_data.head()

,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,total_population,%women_not_read_write,%men_not_read_write,%natives
0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,1,1,4,284,290,1,579,53.540587,82.037997,49.050086
1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,0,0,0,100,0,0,100,100.000000,44.000000,100.000000
2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,25,...,0,0,0,69,3,0,72,69.444444,77.777778,95.833333
3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,25,...,0,0,0,25,25,0,50,100.000000,0.000000,50.000000
4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,3,...,0,0,0,37,13,0,50,100.000000,88.000000,74.000000

## 9.0 New dataset

In [154]:
distritos = ['CIUDAD DEL CERRO', 'JAUJA', 'ACOLLA', 'SAN GERÓNIMO', 'TARMA', 'OROYA' , 'CONCEPCIÓN']

new_data = junin_data[junin_data["District"].isin(distritos)]

In [155]:
new_data

,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,total_population,%women_not_read_write,%men_not_read_write,%natives
0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,1,1,4,284,290,1,579,53.540587,82.037997,49.050086
1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,0,0,0,100,0,0,100,100.000000,44.000000,100.000000
2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,25,...,0,0,0,69,3,0,72,69.444444,77.777778,95.833333
3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,25,...,0,0,0,25,25,0,50,100.000000,0.000000,50.000000
4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,3,...,0,0,0,37,13,0,50,100.000000,88.000000,74.000000
5,JUNIN,CIUDAD DEL CERRO,QUIRLACOCHA,6,7,13,44,43,87,13,...,0,0,0,65,35,0,100,94.000000,75.000000,65.000000
6,JUNIN,CIUDAD DEL CERRO,CAJAMARQUILLA,9,8,17,31,39,70,0,...,0,0,0,87,0,0,87,108.045977,91.954023,100.000000
7,JUNIN,CIUDAD DEL CERRO,CAICO,18,23,41,90,77,167,34,...,0,0,4,175,29,0,208,76.923077,49.519231,84.134615
8,JUNIN,CIUDAD DEL CERRO,ROCO,7,4,11,42,19,61,0,...,0,0,0,70,2,0,72,61.111111,136.111111,97.222222
9,JUNIN,CIUDAD DEL CERRO,C.SACRA FAMILIA,16,8,24,26,25,51,1,...,0,0,0,73,2,0,75,88.000000,110.666667,97.333333
10,JUNIN,CIUDAD DEL CERRO,P.QUINUA,8,6,14,17,19,36,0,...,0,0,0,50,0,0,50,100.000000,100.000000,100.000000
11,JUNIN,CIUDAD DEL CERRO,H.PARIAHUANCA,2,6,8,10,12,22,0,...,0,0,0,24,6,0,30,120.000000,80.000000,80.000000
12,JUNIN,CIUDAD DEL CERRO,P.SULLUMARCA,12,14,26,38,32,70,0,...,0,0,0,96,0,0,96,95.833333,104.166667,100.000000
13,JUNIN,CIUDAD DEL CERRO,H.SAN ANDRÉS,8,0,8,17,25,42,3,...,0,0,0,44,6,0,50,100.000000,88.000000,88.000000
47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,265,...,0,0,63,117,662,0,842,60.332542,55.938242,13.895487
48,JUNIN,JAUJA,A.CHUNÁN,12,11,23,45,21,66,28,...,0,0,0,89,0,0,89,71.910112,83.146067,100.000000
49,JUNIN,JAUJA,C.PACAPACHA,1,7,8,24,18,42,17,...,0,0,0,50,0,0,50,100.000000,56.000000,100.000000
50,JUNIN,JAUJA,HUANCAS,3,2,5,29,40,69,13,...,0,0,0,74,0,0,74,113.513514,63.513514,100.000000
51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,84,...,0,0,0,195,55,0,250,95.200000,52.400000,78.000000
52,JUNIN,JAUJA,PACA,1,4,5,84,52,136,75,...,0,0,6,141,0,0,141,79.432624,44.680851,100.000000
53,JUNIN,JAUJA,MASMA,27,15,42,148,139,287,90,...,0,0,0,294,29,0,329,90.881459,64.741641,89.361702
54,JUNIN,JAUJA,ATAURA,24,22,46,74,68,142,37,...,0,0,0,104,84,0,188,81.382979,70.744681,55.319149
55,JUNIN,JAUJA,HUALÁ,9,9,18,57,28,85,39,...,0,0,0,99,4,0,103,67.961165,66.990291,96.116505
56,JUNIN,JAUJA,JULCÁN,19,11,30,106,144,250,82,...,0,0,0,178,72,0,250,90.000000,44.000000,71.200000
57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,42,...,0,0,0,240,8,0,248,90.725806,86.290323,96.774194
58,JUNIN,JAUJA,A.PAUCÁN,21,13,34,85,69,154,49,...,0,0,0,65,123,0,188,87.234043,69.148936,34.574468
74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,66,...,0,0,0,333,27,0,360,84.166667,80.000000,92.500000
75,JUNIN,ACOLLA,MARCO,16,12,28,94,55,149,34,...,0,0,0,167,10,0,177,75.706215,94.915254,94.350282
76,JUNIN,ACOLLA,TRAGADERO,20,13,33,87,52,139,67,...,0,0,0,169,3,0,172,73.255814,51.744186,98.255814
77,JUNIN,ACOLLA,CHOCÓN,2,0,2,16,22,38,2,...,0,0,0,40,0,0,40,110.000000,85.000000,100.000000
78,JUNIN,ACOLLA,ACAYA,2,2,4,29,21,50,7,...,0,0,0,54,0,0,54,85.185185,88.888889,100.000000
79,JUNIN,ACOLLA,YAUJAILLO,11,2,13,13,4,17,3,...,0,0,0,30,0,0,30,40.000000,140.000000,100.000000
80,JUNIN,ACOLLA,CURICACA,8,3,11,25,10,35,18,...,0,0,0,46,0,0,46,56.521739,93.478261,100.000000
96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,82,...,0,0,0,141,282,0,423,79.905437,66.666667,33.333333
97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,54,...,0,0,0,183,65,0,248,97.177419,60.887097,73.790323
98,JUNIN,CONCEPCIÓN,HUANTAR,3,0,3,47,41,88,34,...,0,0,0,90,1,0,91,85.714286,35.164835,98.901099
99,JUNIN,CONCEPCIÓN,A.ALAYO,3,8,11,22,29,51,13,...,0,0,0,62,0,0,62,119.354839,45.161290,100.000000
100,JUNIN,CONCEPCIÓN,C.SAN ANTONIO DE CARICANCHO,10,8,18,68,46,114,28,...,0,0,0,132,0,0,132,81.818182,87.121212,100.000000
101,JUNIN,CONCEPCIÓN,SANTO DOMINGO,16,11,27,30,41,71,2,...,0,0,0,98,0,0,98,106.122449,89.795918,100.000000
121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,162,...,0,0,348,157,72,0,577,79.202773,54.419411,27.209705
122,JUNIN,SAN GERÓNIMO,HUALHUAS,20,20,40,92,90,182,40,...,0,0,222,0,0,0,222,98.198198,65.315315,0.000000
123,JUNIN,SAN GERÓNIMO,SAN PEDRO DE SAÑO,19,13,32,73,57,130,55,...,0,0,50,64,48,0,162,84.567901,60.493827,39.506173
124,JUNIN,SAN GERÓNIMO,QUICHUAY,13,19,32,62,56,118,31,...,0,0,59,26,65,0,150,96.000000,70.666667,17.333333
125,JUNIN,SAN GERÓNIMO,CASACANCHA,10,9,19,28,27,55,16,...,0,0,31,35,8,0,74,97.297297,63.513514,47.297297
126,JUNIN,SAN GERÓNIMO,A.INGENIO,18,6,24,77,75,152,45,...,0,0,57,72,47,0,176,90.340909,66.477273,40.909091
127,JUNIN,SAN GERÓNIMO,P.SANTA CRUZ DE QUILCAY,21,20,41,101,84,185,20,...,0,0,31,42,153,0,226,90.265487,91.150442,18.584071
128,JUNIN,SAN GERÓNIMO,RANGRA,7,1,8,26,12,38,15,...,0,0,13,33,0,0,46,56.521739,84.782609,71.739130
161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,258,...,3,1,158,189,689,1,1037,69.623915,52.555448,18.225651
162,JUNIN,TARMA,MACO,28,12,40,72,52,124,36,...,0,0,0,164,0,0,164,78.048780,89.024390,100.000000
163,JUNIN,TARMA,MULLUERO,11,14,25,114,73,187,25,...,0,0,0,179,33,0,212,81.132075,98.584906,84.433962
164,JUNIN,TARMA,ANDAMARCA,7,6,13,68,52,120,41,...,0,0,0,91,42,0,133,75.939850,51.127820,68.421053
165,JUNIN,TARMA,CHANCHA,17,20,37,122,77,199,28,...,0,0,0,228,8,0,236,82.203390,94.067797,96.610169
166,JUNIN,TARMA,TARMATAMBO,3,1,4,72,32,104,29,...,0,0,0,108,0,0,108,61.111111,99.074074,100.000000
181,JUNIN,OROYA,P.OROYA,11,9,20,41,35,76,19,...,0,0,15,28,53,0,96,39.583333,72.916667,29.166667
182,JUNIN,OROYA,HUAYNACANCHA,4,2,6,11,16,27,0,...,0,0,0,33,0,0,33,109.090909,90.909091,100.000000
183,JUNIN,OROYA,PACHA,2,4,6,7,3,10,0,...,0,0,0,16,0,0,16,87.500000,112.500000,100.000000
184,JUNIN,OROYA,HUAYHUAY,13,8,21,55,33,88,47,...,0,0,0,108,1,0,109,62.385321,39.449541,99.082569

In [156]:
new_data = new_data[ (new_data['4_6_years_total'] > 50) & (new_data['6_14_years_total'] > 70)]

In [157]:
new_data

,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,total_population,%women_not_read_write,%men_not_read_write,%natives
0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,1,1,4,284,290,1,579,53.540587,82.037997,49.050086
47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,265,...,0,0,63,117,662,0,842,60.332542,55.938242,13.895487
51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,84,...,0,0,0,195,55,0,250,95.200000,52.400000,78.000000
57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,42,...,0,0,0,240,8,0,248,90.725806,86.290323,96.774194
74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,66,...,0,0,0,333,27,0,360,84.166667,80.000000,92.500000
96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,82,...,0,0,0,141,282,0,423,79.905437,66.666667,33.333333
97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,54,...,0,0,0,183,65,0,248,97.177419,60.887097,73.790323
121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,162,...,0,0,348,157,72,0,577,79.202773,54.419411,27.209705
161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,258,...,3,1,158,189,689,1,1037,69.623915,52.555448,18.225651

In [158]:
new_data.sort_values(["total_population","natives"], inplace = True)

C:\Users\Roberto\AppData\Local\Temp\ipykernel_14708\1881373814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.sort_values(["total_population","natives"], inplace = True)

In [159]:
base_final = new_data[['District','comunidad','%women_not_read_write','%men_not_read_write','%natives','total_population']]

In [160]:
Base1 = base_final[0:5]

Base2 = base_final[5:10]

In [161]:
Base1.to_csv("../../data/BASE1.csv")
Base1.to_excel("../../data/BASE2.xlsx")

### 10.0 Function section

In [162]:
def function_1(Base,c1,c2,r1,r2):
    X = Base.iloc[r1:r2,c1:c2]
    
    return X

In [163]:
function_1(Base = new_data,c1 = 1 ,c2 = 30,r1 = 3, r2 = 5)

,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,...,nesc_total,instruction_men,instruction_women,instruction_total,no_instruction_men,no_instruction_women,no_instruction_total,not_finished_instr_men,not_finished_instr_women,not_finished_instr_total
74,ACOLLA,P.ACOLLA,45,38,83,160,117,277,66,17,...,294,85,16,101,120,139,259,191,155,346
96,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,82,39,...,318,187,156,343,29,51,80,196,201,397

In [164]:
def function_2(Base,var,r1,r2):
    
    X = Base[[var]].iloc[[r1,r2],:]
    
    return X

In [165]:
function_2(new_data,'comunidad',2,5)

          comunidad
51        A.HUERTAS
121  P.SAN GERÓNIMO