## Trabajo grupal 3: Grupo 1

In [86]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [87]:
junin = pd.read_excel("../data/Region_Junin.xlsx")

In [88]:
junin.drop(junin.columns[0], axis=1, inplace=True)  # Drop the first column to show better
junin

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,209,544,361,216,1,1,4,284,290,1
1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,50,100,50,50,0,0,0,100,0,0
2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,25,...,25,72,47,25,0,0,0,69,3,0
3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,25,...,25,50,25,25,0,0,0,25,25,0
4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,3,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,42,...,0,72,72,0,0,0,0,35,39,0
193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,8,...,7,23,16,7,0,0,0,21,2,0
194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,7,...,8,30,22,8,0,0,0,4,26,0
195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,41,...,37,103,76,44,0,0,37,14,69,0
196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,8,...,30,126,96,30,0,0,1,118,7,0

##### Pregunta 1: Obtener el nombre de todas las variables

In [92]:
junin.columns    # Show all the head columns

Index(['Region', 'District', 'Place', '4_6_years_men', '4_6_years_women',
       '4_6_years_total', '6_14_years_men', '6_14_years_women',
       '6_14_years_total', 'man_read', 'women_read', 'total_read',
       'men_not_read', 'women_not_read', 'total_not_read', 'man_write',
       'women_write', 'total_write', 'men_not_write', 'women_not_write',
       'total_not_write', 'instruction_men', 'instruction_women',
       'instruction_total', 'no_instruction_men', 'no_instruction_women',
       'no_instruction_total', 'finished_instr_men', 'finished_instr_women',
       'finished_instr_total', 'not_finished_instr_men',
       'not_finished_instr_women', 'not_finished_instr_total', 'peruvian_men',
       'peruvian_women', 'foreign_men', 'foreign_women', 'whites', 'natives',
       'mestizos', 'blacks'],
      dtype='object')

In [93]:
type(junin.columns)   # Show the type

pandas.core.indexes.base.Index

##### Pregunta 2: Mostrar el tipo de variables (type) así como presentar los principales estadísticos.

In [73]:
junin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                197 non-null    int64
 1   Region                    197 non-null    object
 2   District                  197 non-null    object
 3   Place                     197 non-null    object
 4   4_6_years_men             197 non-null    int64
 5   4_6_years_women           197 non-null    int64
 6   4_6_years_total           197 non-null    int64
 7   6_14_years_men            197 non-null    int64
 8   6_14_years_women          197 non-null    int64
 9   6_14_years_total          197 non-null    int64
 10  man_read                  197 non-null    int64
 11  women_read                197 non-null    int64
 12  total_read                197 non-null    int64
 13  men_not_read              197 non-null    int64
 14  women_not_read            197 non-null    int64
 15  total_not_read            197 non-null    int64
 16  man_write                 197 non-null    int64
 17  women_write               197 non-null    int64
 18  total_write               197 non-null    int64
 19  men_not_write             197 non-null    int64
 20  women_not_write           197 non-null    int64
 21  total_not_write           197 non-null    int64
 22  instruction_men           197 non-null    int64
 23  instruction_women         197 non-null    int64
 24  instruction_total         197 non-null    int64
 25  no_instruction_men        197 non-null    int64
 26  no_instruction_women      197 non-null    int64
 27  no_instruction_total      197 non-null    int64
 28  finished_instr_men        197 non-null    int64
 29  finished_instr_women      197 non-null    int64
 30  finished_instr_total      197 non-null    int64
 31  not_finished_instr_men    197 non-null    int64
 32  not_finished_instr_women  197 non-null    int64
 33  not_finished_instr_total  197 non-null    int64
 34  peruvian_men              197 non-null    int64
 35  peruvian_women            197 non-null    int64
 36  foreign_men               197 non-null    int64
 37  foreign_women             197 non-null    int64
 38  whites                    197 non-null    int64
 39  natives                   197 non-null    int64
 40  mestizos                  197 non-null    int64
 41  blacks                    197 non-null    int64
dtypes: int64(39), object(3)
memory usage: 64.8+ KB

In [74]:
junin.describe()    # The principal stadistic

,Unnamed: 0,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,total_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,...,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,98.000000,16.979695,15.345178,32.324873,79.005076,62.482234,141.538071,34.654822,11.705584,46.360406,...,79.238579,172.675127,95.918782,77.664975,0.030457,0.010152,9.893401,110.558376,52.583756,0.776650
std,57.013156,22.571419,21.618979,43.489455,99.837291,90.879972,188.535210,51.091581,34.676708,83.291516,...,111.799104,220.657751,120.177520,110.539722,0.265511,0.100501,39.677190,131.094774,123.120065,7.584952
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,4.000000,4.000000,8.000000,25.000000,19.000000,42.000000,2.000000,0.000000,2.000000,...,25.000000,50.000000,31.000000,25.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
50%,98.000000,10.000000,9.000000,20.000000,55.000000,41.000000,91.000000,21.000000,0.000000,23.000000,...,50.000000,108.000000,65.000000,50.000000,0.000000,0.000000,0.000000,73.000000,3.000000,0.000000
75%,147.000000,20.000000,18.000000,39.000000,88.000000,73.000000,160.000000,42.000000,7.000000,50.000000,...,94.000000,197.000000,103.000000,91.000000,0.000000,0.000000,0.000000,143.000000,48.000000,0.000000
max,196.000000,184.000000,184.000000,368.000000,950.000000,957.000000,1907.000000,317.000000,225.000000,542.000000,...,1089.000000,2164.000000,1132.000000,1141.000000,3.000000,1.000000,348.000000,1367.000000,808.000000,92.000000

##### Pregunt 3: Verifique si las columnas presentan missing values

In [75]:
junin.Region.isnull()[0]   # No have missing values

False

In [76]:
junin['District'].isnull().values.any()

False

In [77]:
junin['Place'].isnull()[0]

False

##### Pregunta 4: Cambie el nombre de las siguientes variables: Place : comunidad, men_not_read: nlee_hombre, women_not_read: nlee_mujer,  total_not_read: ntotal_lee, men_not_write: nesc_hombre, women_not_write: nesc_hombre, total_not_write: nesc_total.

In [78]:
junin.rename(columns = {'Place':'comunidad', 'men_not_read':'nlee_hombre', 'women_not_read':'nlee_mujer', 'men_not_write':'nesc_hombre', 
                       'women_not_write':'nesc_hombre', 'total_not_write':'nesc_total'}, inplace = True)
junin

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

##### Pregunta 6: Muestre los valores únicos de las siguientes variables ( comunidad , District)

In [79]:
junin.comunidad.unique()

array(['C.CIUDAD DEL CERRO', 'P.YANACANCHA', 'VICO', 'RANCA', 'PASCO',
       'QUIRLACOCHA', 'CAJAMARQUILLA', 'CAICO', 'ROCO', 'C.SACRA FAMILIA',
       'P.QUINUA', 'H.PARIAHUANCA', 'P.SULLUMARCA', 'H.SAN ANDRÉS',
       'P.HUALLAY', 'C.HUAYCHAO', 'COCHAMARCA', 'P.CHACAYÁN',
       'VILCABAMBA', 'CUCHES', 'CHANGO', 'MITO', 'ANTAPIRCA', 'P.CAYNA',
       'A. COLPAS', 'P.YACAS', 'C.MASQUIN', 'P.YAMOR', 'PÁUCAR', 'TANGOR',
       'QUIO', 'CAURY', 'CHUCCHUC', 'COQUIN', 'A.YAPOC', 'P.YANAHUANCA',
       'HUAYLACIRCA', 'HUARANTAMBO', 'ANDUCHACA', 'VILLO', 'MICHIVILCA',
       'PILLAO', 'YACÁN', 'TÁPUC', 'CHAUPIMARCA', 'P.OXAPAMPA', 'P.JAUJA',
       'A.CHUNÁN', 'C.PACAPACHA', 'HUANCAS', 'A.HUERTAS', 'PACA', 'MASMA',
       'ATAURA', 'HUALÁ', 'JULCÁN', 'P.RICRÁN', 'A.PAUCÁN', 'P.APATA',
       'HUAMALÍ', 'A.SAN LORENZO', 'PACUCHO', 'P.ORCOTUNA', 'A.VICSO',
       'TISTES', 'P.HUARIPAMPA', 'A.PARCO', 'PACCHA', 'CANCHAPUNCO',
       'C.ULLUSCA', 'CANCHAS', 'P.MUQUIYAUYO', 'MUQUI', 'P.ACOLLA',
       'MARCO', 'TRAGADERO', 'CHOCÓN', 'ACAYA', 'YAUJAILLO', 'CURICACA',
       'P.CINCOS', 'C.LLACUARI', 'P.HUANCARÍ', 'C.CHALHUAS', 'ARAMACHAY',
       'P.MITO', 'A.CHAMBARÁ', 'C.QUICHA', 'HUACHAC', 'A.ACO',
       'P.LLOCLLAPAMPA', 'VISCAS ESPERANZA', 'CONCHAILLO', 'MATA-CHICO',
       'MATA-GRANDE', 'P.CONCEPCIÓN', 'SANTA ROSA DE OCOPA', 'HUANTAR',
       'A.ALAYO', 'C.SAN ANTONIO DE CARICANCHO', 'SANTO DOMINGO',
       'P.CÓMAS', 'C.CHUPA', 'COCHAS', 'P.MATAHUASI', 'P.HUANCAYO',
       'CAJAS', 'P.CHUPACA', 'A.ISCOS', 'ANTAPAMPA', 'HUAUSCA GRANDE',
       'SAN JUAN DE TARPA', 'YANACANCHA', 'COPCA', 'HUAYAN', 'HUAMANCACA',
       'PILCOMAYO', 'AHUAC', 'ACAC', 'P.SAN GERÓNIMO', 'HUALHUAS',
       'SAN PEDRO DE SAÑO', 'QUICHUAY', 'CASACANCHA', 'A.INGENIO',
       'P.SANTA CRUZ DE QUILCAY', 'RANGRA', 'P.SAPALLANGA', 'A.LA PUNTA',
       'P.PUCARÁ', 'C.PATALÁ', 'MARCAVALLE', 'COCHARCAS', 'P.CHONGOS',
       'C.TURPAC Y TINYARI', 'SOCOS', 'PUMPUNGA', 'CHUPURO',
       'CARHUAPACHA', 'A.HUAMANCACA', 'P.SICAYA', 'A.HUANCHAC',
       'C.CACHICAMARCA', 'P.COLCA', 'A.CHACAPAMPA', 'HUASICANCHA',
       'CUCHO', 'CHILIAY', 'POTACA', 'LARIA', 'CHONGOS ALTO',
       'P.HUAYUCACHI', 'HUAMANMARCA', 'VIQUES', 'CACAS', 'HUARAPUQUIO',
       'CULLHUAS', 'RETAMA', 'PACHA', 'P.TARMA', 'MACO', 'MULLUERO',
       'ANDAMARCA', 'CHANCHA', 'TARMATAMBO', 'P.JUNÍN', 'HUASAHUASY',
       'PARI', 'YANEC', 'CHUPÁN', 'ACONCOCHA', 'ONDORES', 'P.ACOBAMBA',
       'PICOY', 'C.HUARACAYO', 'A.PALCA', 'C.HUAILAHUICHÁN',
       'P.PALCAMAYO', 'P.OROYA', 'HUAYNACANCHA', 'HUAYHUAY',
       'P.CARHUAMAYO', 'ULCUMAYO', 'P.SAN RAMÓN', 'LA MERCED',
       'P.VISCATÁN', 'PAN DE AZÚCAR', 'SUITUCANCHA', 'CHACAPALCA',
       'P.POMACOCHA', 'PACHACHACA', 'YAULI', 'MINAS DE MOROCOCHA'],
      dtype=object)

In [80]:
junin.District.unique()

array(['CIUDAD DEL CERRO', 'HUAYLLAY', 'CHACAYÁN', 'CAYNA', 'YANAHUANCA',
       'NINACACA', 'JAUJA', 'APATA', 'ORCOTUNA', 'HUARIPAMPA',
       'MUQUIYAUYO', 'ACOLLA', 'CINCOS', 'MITO', 'LLOCLLAPAMPA',
       'CONCEPCIÓN', 'COCHAS', 'MATAHUASI', 'HUANCAYO', 'CHUPACA',
       'SAN GERÓNIMO', 'SAPALLANGA', 'CHONGOS', 'SICAYA', 'COLCA',
       'HUAYUCACHI', 'TARMA', 'JUNÍN', 'ACOBAMBA', 'OROYA', 'CARHUAMAYO',
       'CHANCHAMAYO', 'VITOC', 'CHACAPALCA', 'YAULI'], dtype=object)

##### Pregunta 7: Borrar las varaibles finished_instr_total, finished_instr_men y finished_instr_women

In [81]:
junin = junin.drop(['finished_instr_total', 'finished_instr_men', 'finished_instr_women'], axis=1)
junin

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

##### Pregunta 8: Crear columnas con las siguiente información: el % de mujeres que no escriben ni leen, % de varones que no escriben ni leen y % de nativos respecto al total de la población.

In [82]:
junin['Total_poblacion']=junin['peruvian_men']+junin['peruvian_women']+junin['foreign_men']+junin['foreign_women']
junin

C:\Users\PERSONAL\AppData\Local\Temp/ipykernel_9576/4068850835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  junin['Total_poblacion']=junin['peruvian_men']+junin['peruvian_women']+junin['foreign_men']+junin['foreign_women']

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_poblacion
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,544,361,216,1,1,4,284,290,1,579
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,100,50,50,0,0,0,100,0,0,100
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,72,47,25,0,0,0,69,3,0,72
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,50,25,25,0,0,0,25,25,0,50
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,50,25,25,0,0,0,37,13,0,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,72,72,0,0,0,0,35,39,0,72
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,23,16,7,0,0,0,21,2,0,23
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,30,22,8,0,0,0,4,26,0,30
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,103,76,44,0,0,37,14,69,0,120
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,126,96,30,0,0,1,118,7,0,126

In [83]:
junin['%_women_nread_nwrite'] = junin['no_instruction_women'] * 100 / junin['Total_poblacion']
junin

C:\Users\PERSONAL\AppData\Local\Temp/ipykernel_9576/2263852489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  junin['%_women_nread_nwrite'] = junin['no_instruction_women'] * 100 / junin['Total_poblacion']

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_poblacion,%_women_nread_nwrite
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,361,216,1,1,4,284,290,1,579,32.469775
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,50,0,0,0,100,0,0,100,50.000000
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,47,25,0,0,0,69,3,0,72,34.722222
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,25,0,0,0,25,25,0,50,50.000000
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,25,0,0,0,37,13,0,50,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,72,0,0,0,0,35,39,0,72,0.000000
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,16,7,0,0,0,21,2,0,23,30.434783
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,22,8,0,0,0,4,26,0,30,6.666667
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,76,44,0,0,37,14,69,0,120,16.666667
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,96,30,0,0,1,118,7,0,126,23.809524

In [84]:
junin['%_men_nread_nwrite'] = junin['no_instruction_men'] * 100 / junin['Total_poblacion']
junin

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_poblacion,%_women_nread_nwrite,%_men_nread_nwrite
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,216,1,1,4,284,290,1,579,32.469775,51.986183
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,0,0,0,100,0,0,100,50.000000,45.000000
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,0,0,0,69,3,0,72,34.722222,9.722222
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,0,0,0,25,25,0,50,50.000000,0.000000
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,0,0,0,37,13,0,50,50.000000,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,0,0,0,35,39,0,72,0.000000,75.000000
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,0,0,0,21,2,0,23,30.434783,13.043478
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,0,0,0,4,26,0,30,6.666667,23.333333
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,44,0,0,37,14,69,0,120,16.666667,23.333333
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,0,0,1,118,7,0,126,23.809524,73.015873

In [85]:
junin['%_natives'] = junin['natives'] * 100 / junin['Total_poblacion']
junin

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_poblacion,%_women_nread_nwrite,%_men_nread_nwrite,%_natives
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,1,1,4,284,290,1,579,32.469775,51.986183,49.050086
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,0,0,0,100,0,0,100,50.000000,45.000000,100.000000
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,0,0,0,69,3,0,72,34.722222,9.722222,95.833333
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,0,0,0,25,25,0,50,50.000000,0.000000,50.000000
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,0,0,0,37,13,0,50,50.000000,50.000000,74.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,0,0,35,39,0,72,0.000000,75.000000,48.611111
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,0,0,0,21,2,0,23,30.434783,13.043478,91.304348
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,0,0,0,4,26,0,30,6.666667,23.333333,13.333333
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,0,0,37,14,69,0,120,16.666667,23.333333,11.666667
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,0,0,1,118,7,0,126,23.809524,73.015873,93.650794

##### Pregunta 9: Crear una base de datos con la siguiente información:

###### a. Quedarse con la información de los distritos de Ciudad del Cerro, Jauja, Acolla, San Gerónimo, Tarma, Oroya y Concepción