## Homework 2 - Python

In [2]:
import pandas as pd
import numpy as np
import random

## 1. If statement

In [133]:
notas = pd.read_csv( r"..\..\..\data\notas.csv" )

In [134]:
notas

     alumnos   notas carrera
0       DIEGO     10    a001
1     GABRIEL      4    a001
2       ANDRE      7    a001
3      ANDRES     16    a002
4    FERNANDO     16    a003
5    MILAGROS     19    a002
6       OSCAR      9    a001
7     RODRIGO      1    a003
8   ALEJANDRO      7    a001
9     LORENZO     21    a001
10     ELIANE     18    a001
11     ALDAIR     15    a002
12       LUIS      0    a004
13     JAVIER     12    a001
14     ALONSO     17    a002
15      MARCO     18    a001
16  SEBASTIAN     15    a004
17     LUZCIA      0    a001
18      NAYEL     18    a004
19    JOAQUIN      4    a002
20   ILIZARBE      6    a001
21    VIVIANA     18    a004
22       LUIS     10    a004
23      ROCIO     13    a002
24      LEIDY     21    a001
25    MELISSA     16    a002
26   FERNANDO     15    a001
27     MARTIN     21    a001
28    DANIELA     17    a003
29    GONZALO      7    a001
30      SOFIA      6    a003
31     ANGEL      10    a004
32     CAMILA      1    a001
33      ROSA       3    a001
34    MARCELO     21    a002
35      JOSUE     16    a001
36      RUBEN     19    a002
37       HUGO     13    a003

In [135]:
notas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alumnos   38 non-null     object
 1   notas     38 non-null     int64
 2   carrera   38 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.0+ KB

In [136]:
i = 0

# row by row
nrows = notas.shape[0]

for i in range(0,nrows):
  
    if notas['notas'][i] >= 11:
        notas.loc[[i], ["Estado"]] = "Ingresante"
    
    else:
        notas.loc[[i], ["Estado"]] = "No ingresó"
        
        
    if notas['carrera'][i] == "a001":
            notas.loc[[i], ["Nombre_carrera"]] = "Economía"

    elif notas['carrera'][i] == "a002":
            notas.loc[[i], ["Nombre_carrera"]] = "Química"
            
    elif notas['carrera'][i] == "a003":
            notas.loc[[i], ["Nombre_carrera"]] = "Fiolosofía"

In [137]:
notas

     alumnos   notas carrera      Estado Nombre_carrera
0       DIEGO     10    a001  No ingresó       Economía
1     GABRIEL      4    a001  No ingresó       Economía
2       ANDRE      7    a001  No ingresó       Economía
3      ANDRES     16    a002  Ingresante        Química
4    FERNANDO     16    a003  Ingresante     Fiolosofía
5    MILAGROS     19    a002  Ingresante        Química
6       OSCAR      9    a001  No ingresó       Economía
7     RODRIGO      1    a003  No ingresó     Fiolosofía
8   ALEJANDRO      7    a001  No ingresó       Economía
9     LORENZO     21    a001  Ingresante       Economía
10     ELIANE     18    a001  Ingresante       Economía
11     ALDAIR     15    a002  Ingresante        Química
12       LUIS      0    a004  No ingresó            NaN
13     JAVIER     12    a001  Ingresante       Economía
14     ALONSO     17    a002  Ingresante        Química
15      MARCO     18    a001  Ingresante       Economía
16  SEBASTIAN     15    a004  Ingresante            NaN
17     LUZCIA      0    a001  No ingresó       Economía
18      NAYEL     18    a004  Ingresante            NaN
19    JOAQUIN      4    a002  No ingresó        Química
20   ILIZARBE      6    a001  No ingresó       Economía
21    VIVIANA     18    a004  Ingresante            NaN
22       LUIS     10    a004  No ingresó            NaN
23      ROCIO     13    a002  Ingresante        Química
24      LEIDY     21    a001  Ingresante       Economía
25    MELISSA     16    a002  Ingresante        Química
26   FERNANDO     15    a001  Ingresante       Economía
27     MARTIN     21    a001  Ingresante       Economía
28    DANIELA     17    a003  Ingresante     Fiolosofía
29    GONZALO      7    a001  No ingresó       Economía
30      SOFIA      6    a003  No ingresó     Fiolosofía
31     ANGEL      10    a004  No ingresó            NaN
32     CAMILA      1    a001  No ingresó       Economía
33      ROSA       3    a001  No ingresó       Economía
34    MARCELO     21    a002  Ingresante        Química
35      JOSUE     16    a001  Ingresante       Economía
36      RUBEN     19    a002  Ingresante        Química
37       HUGO     13    a003  Ingresante     Fiolosofía

In [159]:
notas.iloc[:,0]

0         DIEGO
1       GABRIEL
2         ANDRE
3        ANDRES
4      FERNANDO
5      MILAGROS
6         OSCAR
7       RODRIGO
8     ALEJANDRO
9       LORENZO
10       ELIANE
11       ALDAIR
12         LUIS
13       JAVIER
14       ALONSO
15        MARCO
16    SEBASTIAN
17       LUZCIA
18        NAYEL
19      JOAQUIN
20     ILIZARBE
21      VIVIANA
22         LUIS
23        ROCIO
24        LEIDY
25      MELISSA
26     FERNANDO
27       MARTIN
28      DANIELA
29      GONZALO
30        SOFIA
31       ANGEL
32       CAMILA
33        ROSA
34      MARCELO
35        JOSUE
36        RUBEN
37         HUGO
Name: alumnos , dtype: object

## 1.2 While loop

In [160]:
i = 0

while i < nrows:
  
    if (notas['carrera'][i] == "a002" and notas['Estado'][i] == "Ingresante"):
        print(notas.iloc[i,0])
    
 
    i = i + 1

ANDRES
MILAGROS
ALDAIR
ALONSO
ROCIO
MELISSA
MARCELO
RUBEN

## 2 Loops

## 2.1 Coefficients loop

In [108]:
random.seed(756)

x1 = np.random.rand(10000) # uniform distribution  [0,1]
x2 = np.random.rand(10000) # uniform distribution [0,1]
x3 = np.random.rand(10000) # uniform distribution [0,1]
x4 = np.random.rand(10000) # uniform distribution [0,1]
e = np.random.normal(0,1,10000) # normal distribution mean = 0 and sd = 1

# Poblacional regression (Data Generating Process GDP)


Y = 1 + 0.8*x1 + 1.2*x2 + 0.5*x3 + 1.5*x4 + e

In [96]:
betas = []
sample_size = [10,50,100,200,500,1000,5000]

for i in sample_size:

    X = np.column_stack((np.ones(i),x1[0:i],x2[0:i],x3[0:i],x4[0:i]))
    Y1 = Y[0:i]
    beta = np.linalg.inv(X.T @ X) @ ((X.T) @ Y1 )
    
    betas.append(beta)

### Create a dictionary, then convert it to Dataframe

In [110]:
Coeficientes = {'sample size': [10,50,100,200,500,1000,5000], 
     'beta1': np.zeros(7),
      'beta2': np.zeros(7),
    'beta3': np.zeros(7),
    'beta4': np.zeros(7)}
Coeficientes = pd.DataFrame( data = Coeficientes)
Coeficientes

   sample size  beta1  beta2  beta3  beta4
0           10    0.0    0.0    0.0    0.0
1           50    0.0    0.0    0.0    0.0
2          100    0.0    0.0    0.0    0.0
3          200    0.0    0.0    0.0    0.0
4          500    0.0    0.0    0.0    0.0
5         1000    0.0    0.0    0.0    0.0
6         5000    0.0    0.0    0.0    0.0

### Loop for to fill dataframe with OLS coefficients

In [111]:
for j in range(0,7):
        Coeficientes.iloc[j,1] = betas[j][1]
        Coeficientes.iloc[j,2] = betas[j][2]
        Coeficientes.iloc[j,3] = betas[j][3]
        Coeficientes.iloc[j,4] = betas[j][4]

In [112]:
Coeficientes

   sample size     beta1     beta2     beta3     beta4
0           10 -2.939842  3.061199 -0.916915  0.188717
1           50 -0.054976  0.596020  0.556706 -1.165834
2          100  0.091701 -0.264909 -0.214222 -0.072846
3          200  0.123901  0.170805  0.382696 -0.233135
4          500 -0.099868 -0.071573  0.088636 -0.239884
5         1000 -0.007012 -0.200930  0.012740  0.124498
6         5000 -0.143483 -0.002610  0.027129  0.044478

## 2.2 Production Fish

In [72]:
production_fish = pd.read_csv( r"..\..\..\data\production_fish.csv",  encoding='latin1')

In [73]:
production_fish

,year,Anchoveta,Concha de abanico,Langostino,Merluza,Calamar gigante,Atun,Caballa,Jurel,Sardina,Concha de abanico.1,Jurel.1,Liza,Tollo,total_production
0,2005,8628.396000,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.165000,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.838000,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.048000,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.713000,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.001020,4.822991,134.887316,9.317622,2.834958,6790.849328
3,2008,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054,2.933360,6909.715000
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296
11,2016,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580,9.453130,3151.244230
12,2017,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740,6.692660,3577.546190
13,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310,3.672117,6595.587183
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820,1.241883,4122.621249
15,2020,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.000000,0.616697,48.115810,14.992172,0.544585,4943.295762

In [74]:
col_names = production_fish.columns.to_list()
col_names

['year',
 'Anchoveta',
 'Concha de abanico',
 'Langostino',
 'Merluza',
 'Calamar gigante',
 'Atun',
 'Caballa',
 'Jurel',
 'Sardina',
 'Concha de abanico.1',
 'Jurel.1',
 'Liza',
 'Tollo',
 'total_production']

In [75]:
# filter by particular fish production

index = [6,8,3,13]  # index of particular fish production

col_names = [col_names[i] for i in index]

In [76]:
col_names

['Atun', 'Jurel', 'Langostino', 'Tollo']

In [77]:
for col in col_names:
    production_fish[ f'%{col}' ]  = production_fish[ f'{col}' ] * 100 / production_fish[ 'total_production' ]

In [78]:
production_fish

,year,Anchoveta,Concha de abanico,Langostino,Merluza,Calamar gigante,Atun,Caballa,Jurel,Sardina,Concha de abanico.1,Jurel.1,Liza,Tollo,total_production,%Atun,%Jurel,%Langostino,%Tollo
0,2005,8628.396000,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.165000,1.843080,56.167940,5.875600,0.430000,9030.413620,0.109375,0.226800,0.099896,0.004762
1,2006,5891.838000,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.048000,4.048000,136.827000,3.166000,1.584000,6646.923000,0.170545,1.849036,0.169928,0.023831
2,2007,6084.713000,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.001020,4.822991,134.887316,9.317622,2.834958,6790.849328,0.054681,1.220912,0.199504,0.041747
3,2008,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054,2.933360,6909.715000,0.047523,0.851905,0.185492,0.042453
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610,0.031541,0.223441,0.185730,0.063454
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233,0.240973,0.151527,0.379926,0.131070
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666,0.085330,1.078830,0.302936,0.073679
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990,0.025437,0.996762,0.518005,0.096619
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737,0.131705,0.132834,0.352705,0.072818
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039,0.161431,0.302863,0.742039,0.177536
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296,0.265228,0.066289,0.640738,0.184707
11,2016,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580,9.453130,3151.244230,0.345403,0.013075,0.928324,0.299981
12,2017,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740,6.692660,3577.546190,0.329912,0.029431,1.083426,0.187074
13,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310,3.672117,6595.587183,0.275017,0.221661,0.477681,0.055675
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820,1.241883,4122.621249,0.432717,0.672714,1.039573,0.030124
15,2020,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.000000,0.616697,48.115810,14.992172,0.544585,4943.295762,0.077755,0.474904,0.698258,0.011017

## 2.3 Loop - diccionary dataset

In [14]:
import pickle  # load dictionary dataset 
from tqdm import tqdm   #packages to mesuare time's loop

In [8]:
dictionary_places = open( "..\..\..\data\places_result", "rb") # load dataset
places_result = pickle.load( dictionary_places )  # dictionary format

In [39]:
places_result['results'][2]['name']

'National Identity Management Commission (Nimc)'

In [41]:
# Lists

latitudes_n = []
longitudes_n = []
latitudes_s = []
longitudes_s = []
institutions = []
address = []
status = []

# define all the results
results = places_result[ 'results' ]   # is a list 
# loop para guardar cada uno de los elementos
for row in tqdm( range( 0 , len( results ) ) ):   #tqdm (time's loop)
    
    # latitude north and latitude south
    lat_n = results[ row ]['geometry']['viewport']['northeast']['lat']
    lat_s = results[ row ]['geometry']['viewport']['southwest']['lat']
    
    # Longitude north and latitude south
    
    lng_n = results[ row ]['geometry']['viewport']['northeast']['lng']
    lng_s = results[ row ]['geometry']['viewport']['southwest']['lng']
    
    # nombre de la institution
    institution = results[ row ]['name']
    
    # address
    Address = results[ row ]['formatted_address']
    
     # status
    Status = results[ row ]['business_status']
    
    # Save results
    latitudes_n.append( lat_n )
    longitudes_n.append( lng_n )
    latitudes_s.append( lat_s )
    longitudes_s.append( lng_s )
    institutions.append( institution )
    address.append(Address)
    status.append( Status )
    
# Diccionario
final_result = { 'Institution': institutions, 'Status': status, 'Address':address ,'North Latitud' : latitudes_n, 'North Longitud' : longitudes_n ,
               'South Latitud' : latitudes_s, 'South Longitud' : longitudes_s}
# Dataframe
df_result = pd.DataFrame( final_result )
df_result

100%|███████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 20063.64it/s]

,Institution,Status,Address,North Latitud,North Longitud,South Latitud,South Longitud
0,National Identity Management Commission,OPERATIONAL,"11 Sokode Crescent, Off Dalaba Street Zone 5, ...",9.067332,7.456283,9.064633,7.453583
1,National Identity Management Commission NIMC,OPERATIONAL,"Lafia - Shandam Rd, Lafia",8.506789,8.533272,8.504089,8.530573
2,National Identity Management Commission (Nimc),OPERATIONAL,"Asa-Dam Rd, opp. Dangote Flour Mills, Ilorin",8.451073,4.543705,8.448373,4.541006
3,National Identity Management Commission,OPERATIONAL,"zone 3, No 4 Maputo St, Wuse, Abuja",9.060360,7.469236,9.057660,7.466537
4,National Identity Management Commission (Nimc),OPERATIONAL,Lamingo Dam Road Plateau,9.898419,8.932804,9.895157,8.927324
5,National Identity Management Commission,OPERATIONAL,Jos,9.893703,8.918888,9.891003,8.916188
6,National Identity Management Commission,OPERATIONAL,Kachia,9.858620,7.969347,9.855921,7.966647
7,National Identity Management Commission (Nimc),OPERATIONAL,"Jonah Jang Cres, High Level, Makurdi",7.712382,8.528209,7.709683,8.525510
8,National Identity Management Commission (Nimc),OPERATIONAL,"3 Abdulkadir ahmed Close (P.M.B 0281, Bauchi",10.311704,9.827928,10.309004,9.825228
9,National Identity Management Commission,OPERATIONAL,"Kofar Kabuga, Kano",11.991397,8.490334,11.988697,8.487634
10,National Identity Management Commission (Nimc),OPERATIONAL,"Complex, Federal Secretariat, Kawo, Kaduna",10.593821,7.450810,10.591122,7.448111
11,National Identity Management Center,OPERATIONAL,"Port-Hacourt Rd, New Owerri, Owerri",5.473015,7.009477,5.470315,7.006778
12,National Identity Management Commission (Nimc),OPERATIONAL,"ITF House, 6, 3rd Floor, Adetokunbo Ademola Cr...",9.078072,7.495215,9.075372,7.492516
13,National Identity Management Commision (NIMC) ...,OPERATIONAL,"9 Obafemi Awolowo Way, Agidingbi, Ikeja",6.618298,3.359588,6.615599,3.356888
14,National Identity Management Commission,OPERATIONAL,"1 Proda Road,Proda Junction, Emene industrial ...",6.461433,7.580321,6.458733,7.577622
15,"National Identity Management Commission, North...",OPERATIONAL,"Bayajida Rd, Ungwan Munchi, Kaduna",10.544956,7.462337,10.542256,7.459637
16,National Identity Management Commission (Nimc),OPERATIONAL,"Tal-Udu, FCE Junction Kano",11.989375,8.498143,11.986675,8.495444
17,National Identity Management Commission Umuahia,OPERATIONAL,"Ndume bypass, Ndume",5.503745,7.519157,5.501046,7.516458
18,National Identity Management Commission,OPERATIONAL,"Umueme, Port Harcourt",4.823460,7.009288,4.820760,7.006589
19,National Identity Management Commission Nimc,OPERATIONAL,"238 Port Harcourt - Aba Expy, Rumuokwurusi, Po...",4.850935,7.054089,4.848235,7.051390

## 3.0 Function section

In [80]:
random.seed(1246)

M = np.random.rand(100,10)

In [82]:
M.shape

(100, 10)

In [83]:
M[:,0]

array([0.9446478 , 0.48100515, 0.25418806, 0.20935255, 0.91625755,
       0.5966859 , 0.47178937, 0.20794939, 0.00161055, 0.61222136,
       0.05483152, 0.69071257, 0.09152282, 0.48498526, 0.69943732,
       0.8307458 , 0.99821359, 0.63302865, 0.93883967, 0.33760579,
       0.46769698, 0.53028413, 0.19128141, 0.53641101, 0.46393219,
       0.10291199, 0.98449172, 0.23253321, 0.61715341, 0.86958792,
       0.09277083, 0.0025312 , 0.34419238, 0.3415469 , 0.35377163,
       0.6710449 , 0.19163916, 0.1300004 , 0.56794147, 0.63651208,
       0.90761587, 0.88920942, 0.72010067, 0.21799658, 0.26088896,
       0.33212389, 0.14392766, 0.13434903, 0.05794925, 0.42056484,
       0.58756812, 0.36812178, 0.27813953, 0.23332916, 0.45145626,
       0.62395251, 0.60991611, 0.75235599, 0.05320216, 0.91531643,
       0.40208685, 0.72440954, 0.76049007, 0.48263966, 0.03723676,
       0.9193164 , 0.13930831, 0.33825708, 0.46888791, 0.7862306 ,
       0.30797243, 0.84906829, 0.29540312, 0.0603157 , 0.82243167,
       0.17013518, 0.58997244, 0.29189977, 0.32285761, 0.30225071,
       0.20211945, 0.29219017, 0.93039117, 0.14733471, 0.37058681,
       0.10412396, 0.7454394 , 0.41003856, 0.37097548, 0.58289177,
       0.66818374, 0.92720538, 0.44979801, 0.57997854, 0.49133556,
       0.30200559, 0.4900122 , 0.65979496, 0.30997856, 0.69864859])

In [84]:
def standarize(X):
        
        Z = np.zeros((X.shape[0], X.shape[1]))
        
        for i in range(0,X.shape[1]):
        
            a = np.mean(X[:,i])
            b = np.std(X[:,i])
            Z[:,i] = (X[:,i]-a)/b         
            
        return Z

In [87]:
standarize(M)
M.shape

(100, 10)

In [88]:
M

array([[9.44647802e-01, 4.39163245e-01, 3.47517742e-01, 2.35135117e-01,
        8.29532303e-01, 5.86555964e-01, 3.02987190e-01, 7.86157207e-02,
        6.79982505e-01, 7.40121758e-01],
       [4.81005147e-01, 8.95279676e-01, 1.74004357e-01, 7.14780979e-01,
        7.80702788e-01, 6.11197790e-01, 1.37917807e-01, 2.52688251e-01,
        2.74473627e-01, 4.59441292e-01],
       [2.54188058e-01, 5.06617787e-02, 3.97689049e-01, 5.93255961e-01,
        3.84337278e-01, 3.59771001e-01, 2.92665503e-01, 2.24454704e-01,
        1.83648292e-01, 7.02572297e-01],
       [2.09352546e-01, 4.80531933e-01, 6.44983642e-01, 4.93396449e-01,
        1.72158292e-01, 6.66379876e-01, 9.06496973e-01, 6.51235291e-01,
        9.71387086e-01, 8.14258901e-01],
       [9.16257546e-01, 6.25389471e-01, 7.06518373e-01, 6.97561613e-01,
        9.87473117e-01, 1.06311020e-01, 2.39985059e-01, 1.36279052e-01,
        4.80430931e-01, 3.36135959e-01],
       [5.96685898e-01, 2.10205978e-01, 7.92839640e-01, 5.85855144e-01,
        3.06140589e-01, 6.28319282e-01, 4.71237102e-01, 6.02978811e-01,
        1.30467098e-01, 7.98642919e-01],
       [4.71789369e-01, 8.13253812e-01, 7.17847747e-01, 6.45240126e-01,
        3.39131294e-01, 7.89640000e-01, 7.34742475e-01, 6.13552121e-01,
        1.30302057e-01, 9.31734704e-01],
       [2.07949393e-01, 6.00596214e-02, 6.93055920e-01, 6.50945259e-01,
        2.28489520e-01, 5.04769791e-02, 3.34133521e-01, 2.38258286e-01,
        5.42364302e-01, 1.70586469e-01],
       [1.61055297e-03, 6.57375738e-01, 5.25932960e-01, 2.95062131e-01,
        8.90712580e-01, 7.77899363e-01, 7.41203663e-01, 6.02281185e-01,
        1.49463236e-01, 6.82158073e-01],
       [6.12221363e-01, 4.52203169e-01, 7.64116861e-01, 9.89969255e-01,
        5.89338965e-01, 4.21712824e-01, 1.32882434e-01, 2.59201998e-01,
        4.42877596e-02, 2.68602212e-01],
       [5.48315197e-02, 9.98922311e-01, 4.88141111e-01, 7.11770276e-01,
        5.96571358e-01, 7.79530729e-01, 9.92193082e-01, 4.96071276e-01,
        3.40311244e-01, 5.75931487e-01],
       [6.90712567e-01, 8.25539503e-01, 3.49159836e-03, 4.62059595e-01,
        5.29889019e-01, 7.58092089e-01, 7.49407308e-01, 4.82873095e-01,
        7.32234740e-01, 1.61505324e-01],
       [9.15228242e-02, 3.61299375e-01, 3.41865650e-02, 6.36272463e-01,
        7.98290894e-01, 5.16109735e-01, 6.38375364e-02, 7.44410093e-01,
        1.72771155e-01, 7.82121530e-02],
       [4.84985257e-01, 9.70785374e-01, 3.20060837e-01, 4.37044488e-01,
        2.27805311e-02, 6.21627616e-01, 2.01406779e-01, 7.77155977e-01,
        6.03899405e-01, 8.84826999e-01],
       [6.99437320e-01, 5.44401127e-01, 4.91268833e-01, 4.22169008e-01,
        7.01813435e-01, 7.17856681e-01, 4.79162110e-01, 2.16892510e-02,
        7.04168906e-02, 5.35217330e-01],
       [8.30745799e-01, 3.31661803e-01, 1.26671880e-01, 6.46071019e-01,
        7.77989361e-01, 7.14283477e-01, 2.27950397e-01, 3.76194191e-01,
        7.32048138e-01, 5.40453277e-02],
       [9.98213586e-01, 6.63960928e-01, 6.58979214e-01, 3.37297268e-01,
        2.35003659e-01, 2.03790012e-02, 7.79396138e-01, 6.52964853e-01,
        4.36203683e-02, 1.11478275e-01],
       [6.33028648e-01, 4.98135277e-01, 5.56982342e-01, 7.99741018e-01,
        3.43755508e-01, 4.16104527e-03, 4.89432523e-01, 7.49598384e-01,
        2.47228679e-01, 6.33650480e-01],
       [9.38839675e-01, 5.84796833e-01, 1.30607718e-01, 9.80210044e-01,
        3.72063871e-01, 7.98210296e-01, 2.03493441e-01, 4.56145887e-01,
        9.05721150e-01, 9.91831370e-01],
       [3.37605795e-01, 6.40967768e-01, 8.59012625e-01, 1.99463827e-01,
        8.56916583e-01, 5.04058259e-01, 7.24415886e-02, 8.63786392e-01,
        8.27596909e-01, 1.41288522e-01],
       [4.67696977e-01, 7.77628400e-01, 6.02298729e-01, 1.37141981e-02,
        9.34315940e-01, 6.18620421e-01, 7.18970660e-01, 5.26111362e-01,
        7.06839066e-01, 6.40465165e-01],
       [5.30284133e-01, 3.20090405e-01, 9.33113930e-01, 3.75532589e-01,
        4.95137233e-01, 2.49007723e-01, 4.60491578e-01, 1.62101718e-01,
        7.62714753e-01, 2.41861260e-01],
       [1.91281408e-01, 9.18338633e-01, 8.36415553e-01, 4.20685709e-01,
        6.71498833e-02, 4.75018325e-02, 7.69959925e-01, 2.59661506e-01,
        9.03083619e-01, 6.25922562e-01],
       [5.36411011e-01, 6.32610064e-01, 4.29557226e-01, 2.37690964e-01,
        5.32061562e-02, 2.55134840e-01, 7.65740524e-01, 2.38865814e-01,
        8.43673651e-01, 3.76731616e-01],
       [4.63932188e-01, 1.14035953e-01, 8.09833553e-01, 1.97593046e-01,
        2.21871930e-01, 7.13635677e-01, 3.21739567e-01, 7.27931573e-01,
        4.35560943e-01, 6.66995194e-01],
       [1.02911990e-01, 5.16172935e-01, 9.67929550e-01, 8.43013193e-01,
        5.90055814e-01, 8.33123063e-01, 8.04986377e-01, 1.96758727e-01,
        9.77004169e-01, 3.79541417e-01],
       [9.84491718e-01, 2.07337479e-01, 5.80742881e-01, 4.77206027e-01,
        9.55910156e-01, 1.29791554e-01, 3.84448489e-01, 3.62782326e-01,
        6.53290759e-01, 2.14646864e-01],
       [2.32533214e-01, 1.47816201e-01, 2.38233469e-01, 5.85526429e-01,
        6.24528940e-01, 6.10780515e-01, 9.17946532e-01, 3.95012765e-01,
        3.34859704e-01, 5.79573763e-01],
       [6.17153407e-01, 7.42677884e-01, 5.30970662e-01, 5.92713972e-01,
        8.57006678e-01, 5.99130420e-01, 3.74159192e-01, 7.81178700e-01,
        8.53063327e-01, 6.59587829e-01],
       [8.69587920e-01, 2.88311616e-01, 6.96054998e-01, 3.33572045e-02,
        8.91261856e-01, 4.28915149e-01, 8.48591962e-01, 8.95939188e-02,
        2.22258466e-01, 4.12804735e-01],
       [9.27708309e-02, 1.74867555e-01, 4.88397415e-01, 4.52523641e-01,
        5.60129984e-01, 7.09289989e-01, 9.59949878e-01, 6.25001001e-01,
        6.17630412e-01, 9.47927459e-01],
       [2.53120071e-03, 2.89913024e-01, 1.17097744e-01, 6.18126069e-01,
        8.68792994e-01, 9.78589603e-02, 3.48120205e-01, 7.69586473e-01,
        1.57102629e-01, 4.63340170e-01],
       [3.44192384e-01, 8.65856750e-01, 6.94957651e-01, 5.50785567e-01,
        9.37292644e-01, 6.58208145e-01, 6.65415088e-01, 1.38243373e-01,
        8.78694746e-02, 5.32045405e-01],
       [3.41546902e-01, 5.80651857e-01, 6.31227126e-01, 4.61511538e-01,
        3.16446035e-01, 2.30090949e-01, 3.90870741e-01, 5.41414742e-01,
        8.51386808e-01, 5.42732721e-01],
       [3.53771634e-01, 1.92533178e-01, 4.98572223e-01, 3.80631576e-01,
        9.67856052e-01, 1.00259522e-01, 6.07179466e-01, 1.89256119e-01,
        2.68434259e-01, 9.96967742e-01],
       [6.71044899e-01, 3.40401446e-01, 9.98345213e-01, 8.80553981e-01,
        7.80037759e-01, 6.17642094e-01, 9.31717974e-02, 8.24342851e-01,
        2.17024036e-02, 7.36238389e-01],
       [1.91639160e-01, 4.67791981e-01, 2.42753306e-01, 5.94166876e-01,
        7.04894573e-01, 7.18300208e-01, 2.66062957e-02, 7.47846318e-02,
        4.09648050e-01, 1.20276417e-01],
       [1.30000397e-01, 7.02851086e-01, 6.57348212e-01, 3.77937421e-01,
        2.27096137e-01, 4.69184409e-01, 4.98788085e-01, 1.81523162e-01,
        2.13747786e-01, 5.91900979e-01],
       [5.67941468e-01, 9.96072450e-01, 6.43380316e-01, 4.76384736e-01,
        5.99614689e-01, 7.94541085e-01, 4.79925662e-01, 1.26224054e-01,
        9.39190576e-01, 6.73421358e-03],
       [6.36512078e-01, 9.83331970e-01, 6.83357932e-01, 2.54778463e-01,
        7.84679521e-01, 3.62143606e-01, 1.26495440e-01, 2.93188554e-01,
        8.12682675e-01, 2.50953196e-01],
       [9.07615871e-01, 6.36941561e-01, 9.49165701e-01, 8.64752785e-01,
        5.50928440e-01, 1.44181381e-01, 9.49795307e-01, 4.28478738e-01,
        5.73621943e-01, 7.60977997e-01],
       [8.89209421e-01, 8.32024225e-01, 5.35917203e-01, 7.70972266e-01,
        7.14619294e-01, 4.34331544e-01, 7.09866318e-01, 7.37255911e-02,
        2.31585617e-01, 9.00592950e-02],
       [7.20100669e-01, 4.12554396e-01, 6.69455327e-02, 4.59851160e-01,
        5.13063700e-01, 1.98801146e-02, 5.20168153e-01, 1.61123219e-01,
        6.01279281e-01, 1.63715916e-01],
       [2.17996578e-01, 2.65605135e-01, 8.15810788e-01, 9.30795189e-01,
        2.92962864e-01, 2.67561252e-01, 6.13533440e-01, 9.46146198e-01,
        6.10720754e-01, 5.81225764e-01],
       [2.60888959e-01, 6.93951127e-01, 3.14125559e-01, 1.09216551e-01,
        5.10215555e-02, 1.80497045e-01, 3.32097092e-01, 3.98661705e-01,
        9.14555274e-01, 3.33924621e-02],
       [3.32123889e-01, 1.45012577e-01, 4.48632479e-01, 4.41881944e-01,
        2.41710638e-01, 1.03920955e-01, 5.17965176e-01, 4.87933248e-02,
        5.01814339e-01, 6.31495362e-01],
       [1.43927660e-01, 6.37307641e-01, 3.33771907e-01, 6.97235234e-01,
        5.16163748e-02, 9.50867000e-01, 3.03421072e-01, 4.06116861e-01,
        4.64671615e-01, 5.37790053e-01],
       [1.34349030e-01, 4.56069652e-01, 5.52035006e-01, 7.38361231e-01,
        8.21845551e-01, 9.67569660e-01, 1.28484844e-01, 1.61558916e-01,
        2.55018840e-01, 2.83485149e-01],
       [5.79492547e-02, 8.67531142e-01, 2.91463784e-01, 4.17849374e-02,
        9.59729823e-01, 1.01900327e-01, 1.53101949e-01, 7.81673184e-01,
        6.95090476e-01, 3.08843218e-01],
       [4.20564842e-01, 4.10260605e-01, 1.70808159e-01, 1.08700720e-01,
        9.06350864e-01, 9.50330437e-01, 2.23305829e-01, 9.71920826e-01,
        1.90529470e-01, 4.68043341e-01],
       [5.87568125e-01, 4.28511806e-01, 6.70774251e-01, 3.07631874e-01,
        5.93463830e-01, 8.63162191e-02, 7.67057557e-01, 4.18185194e-01,
        9.08031699e-04, 1.93553651e-01],
       [3.68121776e-01, 3.42671158e-02, 9.54241951e-01, 1.15040620e-02,
        7.32874600e-01, 2.54419209e-01, 6.75750824e-01, 5.64454960e-01,
        6.47964438e-01, 9.23998654e-01],
       [2.78139529e-01, 3.54508128e-01, 8.17458462e-01, 4.68476258e-01,
        5.76930463e-01, 7.15296477e-01, 6.59199066e-01, 8.85526320e-01,
        7.80277647e-01, 1.27195869e-01],
       [2.33329157e-01, 2.48974095e-01, 3.03538613e-02, 7.11605787e-01,
        5.78916655e-01, 5.13924959e-01, 9.53836716e-01, 4.91045745e-01,
        9.66909916e-01, 4.70113337e-01],
       [4.51456263e-01, 3.69557415e-01, 6.28985517e-01, 8.53776306e-01,
        2.20772307e-01, 4.38403213e-01, 1.80753862e-01, 4.36843963e-01,
        9.78274683e-01, 4.81558740e-01],
       [6.23952508e-01, 6.78331693e-01, 1.22039411e-01, 5.72104799e-01,
        4.01150579e-01, 7.76956955e-01, 1.71405128e-03, 9.22433466e-02,
        8.17076902e-01, 2.23428702e-02],
       [6.09916113e-01, 6.39566189e-01, 4.76182516e-01, 2.84540850e-01,
        5.03970772e-01, 2.13295907e-01, 1.83453214e-02, 3.37304060e-01,
        1.22850598e-01, 5.36780840e-01],
       [7.52355994e-01, 8.40748801e-01, 8.05375473e-01, 4.57609811e-01,
        2.55793323e-01, 5.89345410e-01, 3.70706530e-01, 1.06826526e-01,
        9.35304129e-01, 7.35658218e-01],
       [5.32021559e-02, 3.65334812e-01, 5.15817088e-02, 6.69672403e-02,
        4.87035139e-01, 4.57773360e-01, 4.01481985e-01, 9.30296962e-01,
        4.70189109e-01, 5.24997249e-01],
       [9.15316429e-01, 8.69811439e-01, 7.52134852e-01, 8.68314106e-01,
        2.84670188e-01, 2.31826565e-01, 4.64736436e-01, 2.82994455e-01,
        6.98286112e-01, 2.50039003e-01],
       [4.02086849e-01, 1.70705579e-01, 7.29759558e-01, 5.61065750e-01,
        8.69356292e-01, 3.39036313e-01, 8.73401681e-01, 9.33917707e-01,
        4.72070577e-01, 5.22206892e-01],
       [7.24409538e-01, 4.99684104e-01, 1.26056360e-01, 6.11898868e-01,
        5.71999645e-01, 1.67190886e-03, 8.48329636e-02, 2.23639591e-01,
        7.66624237e-01, 7.62452591e-01],
       [7.60490072e-01, 9.77295272e-01, 5.40353010e-01, 8.44247924e-01,
        2.17829189e-01, 4.68276559e-01, 7.55126571e-01, 3.31546321e-01,
        6.65294729e-02, 5.61136477e-01],
       [4.82639663e-01, 4.22725891e-01, 5.53303587e-01, 9.35768949e-01,
        3.48648473e-01, 3.72516459e-01, 1.88848533e-01, 3.94693231e-01,
        3.51084001e-01, 4.88029883e-01],
       [3.72367610e-02, 9.66728101e-01, 6.51291261e-01, 6.26312696e-01,
        6.00106399e-01, 8.26086182e-02, 9.57732021e-01, 1.58844289e-01,
        3.81550981e-01, 7.11660868e-01],
       [9.19316404e-01, 5.61940074e-01, 8.78498618e-01, 2.75865448e-01,
        8.55601668e-01, 6.64522092e-01, 4.39469986e-01, 7.86748030e-01,
        9.27569019e-01, 3.30598687e-01],
       [1.39308308e-01, 8.49225534e-01, 9.40273343e-01, 3.46826091e-01,
        9.46374700e-01, 4.37089709e-01, 7.69468607e-01, 5.35804388e-01,
        3.12701261e-01, 5.30190280e-01],
       [3.38257080e-01, 8.36494026e-01, 7.27405025e-01, 3.16582664e-01,
        1.92262946e-01, 2.59637317e-01, 7.40524604e-02, 6.35958783e-01,
        5.09899708e-01, 4.94440235e-01],
       [4.68887908e-01, 9.31012474e-01, 7.82813721e-02, 8.60627490e-01,
        5.33157360e-01, 8.51006412e-02, 3.35415273e-01, 7.72839754e-01,
        1.05389399e-01, 6.11587006e-01],
       [7.86230602e-01, 2.85837307e-01, 6.05500568e-01, 5.67473469e-01,
        2.49120384e-01, 2.30063576e-02, 1.38242887e-01, 9.39392227e-01,
        6.80725722e-02, 8.35975946e-01],
       [3.07972434e-01, 5.37970099e-01, 7.89956875e-01, 6.91154432e-01,
        7.12809685e-01, 7.03218773e-01, 5.91886418e-01, 7.35549930e-01,
        4.18810307e-01, 1.85279237e-01],
       [8.49068292e-01, 1.21829630e-01, 8.59977251e-01, 5.51271907e-01,
        1.79778434e-01, 2.22896760e-01, 7.41748871e-01, 8.72208847e-02,
        4.42609398e-01, 5.41736639e-01],
       [2.95403117e-01, 8.49778621e-01, 9.92479044e-01, 6.40448233e-01,
        1.39872910e-01, 8.46778974e-01, 5.91807410e-01, 7.71094686e-01,
        5.04013745e-01, 4.51070352e-02],
       [6.03156984e-02, 8.49874146e-01, 1.50750115e-01, 6.40678852e-01,
        3.82202355e-01, 2.41840046e-01, 5.84929723e-01, 3.93151420e-02,
        4.94239734e-01, 7.74848025e-01],
       [8.22431672e-01, 2.76217676e-01, 3.44411580e-01, 1.17183136e-01,
        9.79378305e-01, 5.68011958e-01, 8.38975251e-01, 1.61317196e-01,
        5.65796060e-01, 5.56100019e-01],
       [1.70135181e-01, 7.02717392e-01, 5.27571641e-02, 4.51886317e-01,
        5.60400058e-02, 8.98410725e-03, 6.33245258e-01, 6.38862244e-01,
        7.41093191e-01, 7.78655459e-01],
       [5.89972443e-01, 1.42491152e-01, 4.78967917e-01, 9.05520461e-01,
        3.65612214e-01, 6.18725501e-01, 5.28730667e-01, 9.80435517e-01,
        8.96856579e-01, 1.54710388e-01],
       [2.91899765e-01, 9.58360003e-01, 4.78636001e-01, 7.16699607e-01,
        9.94927114e-01, 6.06087308e-01, 4.31009030e-01, 1.80643690e-01,
        2.58835659e-02, 1.77827813e-01],
       [3.22857613e-01, 6.04859692e-01, 5.21976571e-01, 9.39949736e-01,
        5.05614110e-01, 5.43045813e-01, 1.99601089e-01, 9.23159785e-01,
        1.77891237e-01, 3.76875598e-01],
       [3.02250705e-01, 7.71515998e-01, 3.30366194e-01, 7.52077948e-01,
        4.93589839e-01, 1.53921507e-01, 4.57774941e-01, 7.16715964e-01,
        3.36868925e-01, 4.03365332e-01],
       [2.02119450e-01, 2.85452203e-01, 7.83144585e-01, 1.39670057e-01,
        1.65385997e-01, 2.23370849e-01, 2.06355696e-01, 7.17326212e-01,
        5.49527461e-01, 8.83256753e-01],
       [2.92190169e-01, 6.97902598e-01, 7.59471130e-01, 8.39849499e-01,
        1.38732959e-01, 2.31804346e-01, 3.86688967e-01, 3.61780267e-01,
        1.88906497e-01, 5.33536493e-01],
       [9.30391172e-01, 6.00835631e-02, 3.61571173e-01, 7.32687565e-01,
        8.11993521e-01, 4.70626854e-01, 9.48887301e-01, 3.98387182e-01,
        3.29242577e-01, 8.32367624e-01],
       [1.47334709e-01, 2.55910337e-01, 9.85593100e-01, 1.23883669e-01,
        2.39251547e-01, 5.91916047e-02, 2.65596044e-01, 6.56122743e-01,
        6.68919014e-01, 5.92070860e-01],
       [3.70586813e-01, 8.88680599e-01, 6.23085661e-01, 6.10788257e-01,
        8.07416664e-01, 3.16518080e-01, 9.09981621e-01, 7.04792537e-01,
        1.57225332e-02, 2.95200324e-01],
       [1.04123964e-01, 3.47777754e-01, 7.26083563e-01, 5.27961377e-01,
        4.53945263e-01, 7.65970503e-01, 3.04157881e-02, 6.42917972e-01,
        6.13671627e-01, 7.18802496e-01],
       [7.45439400e-01, 2.94554927e-01, 2.10422413e-01, 2.53455202e-01,
        4.49291888e-01, 3.51310487e-01, 8.70497777e-01, 4.99448851e-01,
        6.00984110e-01, 1.88872263e-02],
       [4.10038561e-01, 7.45878678e-01, 1.89324819e-01, 9.60360759e-02,
        8.73624744e-01, 8.39182496e-01, 1.59438675e-01, 7.55102510e-01,
        6.84546187e-01, 4.69236234e-01],
       [3.70975476e-01, 5.94197768e-01, 1.16860044e-01, 8.28988739e-01,
        9.57044009e-01, 2.91385185e-01, 5.81805485e-01, 6.51636966e-01,
        5.20223160e-01, 8.85952183e-01],
       [5.82891766e-01, 6.25314531e-01, 5.06034498e-02, 8.14964166e-01,
        5.46786540e-01, 5.18859077e-01, 1.05670672e-01, 7.73688219e-01,
        4.89144411e-01, 8.41697878e-01],
       [6.68183742e-01, 5.00291288e-01, 4.94258299e-02, 4.59456413e-01,
        9.94787898e-01, 9.73632744e-01, 6.69911718e-01, 6.27857987e-01,
        2.96303149e-01, 3.11471292e-01],
       [9.27205377e-01, 1.50553752e-01, 6.42004837e-01, 7.83285155e-01,
        1.45779720e-01, 9.76281160e-01, 8.55848512e-01, 3.87740441e-01,
        6.03310671e-01, 1.49194813e-01],
       [4.49798006e-01, 8.98992225e-01, 4.95773335e-01, 4.85733053e-01,
        7.67734797e-01, 6.52773066e-01, 2.55197078e-01, 9.34441476e-01,
        7.85758770e-01, 5.77262411e-02],
       [5.79978536e-01, 8.84627124e-01, 4.95044968e-02, 7.57396629e-01,
        7.72849537e-01, 1.40158750e-01, 9.31666682e-01, 3.89315047e-01,
        9.54807802e-01, 4.36735150e-01],
       [4.91335560e-01, 6.43751208e-01, 7.94380167e-01, 5.20785619e-01,
        3.27066425e-01, 9.01356666e-01, 4.02636787e-01, 9.04696261e-01,
        8.99158726e-01, 1.92257255e-01],
       [3.02005591e-01, 3.16125157e-01, 1.64167925e-01, 9.89625866e-01,
        5.53216089e-01, 2.63080105e-01, 4.65879412e-01, 7.55094390e-01,
        6.09096971e-01, 2.01228921e-02],
       [4.90012203e-01, 2.97414397e-01, 6.49203855e-01, 9.88304371e-01,
        6.73036520e-01, 9.34887627e-01, 9.21728973e-01, 6.80315559e-01,
        6.10446603e-01, 3.12767417e-02],
       [6.59794961e-01, 9.54747354e-01, 3.71208289e-01, 5.75613439e-01,
        2.78276210e-02, 5.22486352e-01, 8.24285938e-02, 9.05272595e-01,
        3.24795255e-01, 1.44870545e-01],
       [3.09978556e-01, 5.36999043e-01, 1.76339845e-01, 7.97612758e-01,
        8.05777083e-01, 9.69941289e-01, 1.11520031e-01, 1.41549117e-02,
        9.79303299e-01, 5.26065093e-02],
       [6.98648594e-01, 5.70194428e-01, 4.47054197e-01, 3.90846059e-01,
        7.20409839e-01, 8.76648309e-01, 2.07091221e-01, 7.95110833e-01,
        9.64044268e-01, 2.09560760e-01]])