# Grupo 4 - Trabajo Grupal 3

In [3]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 75%; }
    div#menubar-container     { width: 95%; }
    div#maintoolbar-container { width: 65%; }a
</style>
"""))

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [3]:
junin_data = pd.read_excel("../../data/Region_Junin.xlsx")

In [4]:
junin_data

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

In [5]:
junin_data.shape

(197, 42)

1. Obtener el nombre de todas las variables

In [6]:
junin_data.columns
#sacar el nombre de las variables

Index(['Unnamed: 0', 'Region', 'District', 'Place', '4_6_years_men',
       '4_6_years_women', '4_6_years_total', '6_14_years_men',
       '6_14_years_women', '6_14_years_total', 'man_read', 'women_read',
       'total_read', 'men_not_read', 'women_not_read', 'total_not_read',
       'man_write', 'women_write', 'total_write', 'men_not_write',
       'women_not_write', 'total_not_write', 'instruction_men',
       'instruction_women', 'instruction_total', 'no_instruction_men',
       'no_instruction_women', 'no_instruction_total', 'finished_instr_men',
       'finished_instr_women', 'finished_instr_total',
       'not_finished_instr_men', 'not_finished_instr_women',
       'not_finished_instr_total', 'peruvian_men', 'peruvian_women',
       'foreign_men', 'foreign_women', 'whites', 'natives', 'mestizos',
       'blacks'],
      dtype='object')

2. Mostrar el tipo de variables (type) así como presentar los principales estadísticos.

In [7]:
junin_data.info()
#Qué tipo de variable es cada tipo de base de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                197 non-null    int64
 1   Region                    197 non-null    object
 2   District                  197 non-null    object
 3   Place                     197 non-null    object
 4   4_6_years_men             197 non-null    int64
 5   4_6_years_women           197 non-null    int64
 6   4_6_years_total           197 non-null    int64
 7   6_14_years_men            197 non-null    int64
 8   6_14_years_women          197 non-null    int64
 9   6_14_years_total          197 non-null    int64
 10  man_read                  197 non-null    int64
 11  women_read                197 non-null    int64
 12  total_read                197 non-null    int64
 13  men_not_read              197 non-null    int64
 14  women_not_read            197 non-null    int64
 15  total_not_read            197 non-null    int64
 16  man_write                 197 non-null    int64
 17  women_write               197 non-null    int64
 18  total_write               197 non-null    int64
 19  men_not_write             197 non-null    int64
 20  women_not_write           197 non-null    int64
 21  total_not_write           197 non-null    int64
 22  instruction_men           197 non-null    int64
 23  instruction_women         197 non-null    int64
 24  instruction_total         197 non-null    int64
 25  no_instruction_men        197 non-null    int64
 26  no_instruction_women      197 non-null    int64
 27  no_instruction_total      197 non-null    int64
 28  finished_instr_men        197 non-null    int64
 29  finished_instr_women      197 non-null    int64
 30  finished_instr_total      197 non-null    int64
 31  not_finished_instr_men    197 non-null    int64
 32  not_finished_instr_women  197 non-null    int64
 33  not_finished_instr_total  197 non-null    int64
 34  peruvian_men              197 non-null    int64
 35  peruvian_women            197 non-null    int64
 36  foreign_men               197 non-null    int64
 37  foreign_women             197 non-null    int64
 38  whites                    197 non-null    int64
 39  natives                   197 non-null    int64
 40  mestizos                  197 non-null    int64
 41  blacks                    197 non-null    int64
dtypes: int64(39), object(3)
memory usage: 64.8+ KB

In [8]:
junin_data.describe()
#Sacan las estadisticas de todas las variables

,Unnamed: 0,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,total_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,...,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,98.000000,16.979695,15.345178,32.324873,79.005076,62.482234,141.538071,34.654822,11.705584,46.360406,...,79.238579,172.675127,95.918782,77.664975,0.030457,0.010152,9.893401,110.558376,52.583756,0.776650
std,57.013156,22.571419,21.618979,43.489455,99.837291,90.879972,188.535210,51.091581,34.676708,83.291516,...,111.799104,220.657751,120.177520,110.539722,0.265511,0.100501,39.677190,131.094774,123.120065,7.584952
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,4.000000,4.000000,8.000000,25.000000,19.000000,42.000000,2.000000,0.000000,2.000000,...,25.000000,50.000000,31.000000,25.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
50%,98.000000,10.000000,9.000000,20.000000,55.000000,41.000000,91.000000,21.000000,0.000000,23.000000,...,50.000000,108.000000,65.000000,50.000000,0.000000,0.000000,0.000000,73.000000,3.000000,0.000000
75%,147.000000,20.000000,18.000000,39.000000,88.000000,73.000000,160.000000,42.000000,7.000000,50.000000,...,94.000000,197.000000,103.000000,91.000000,0.000000,0.000000,0.000000,143.000000,48.000000,0.000000
max,196.000000,184.000000,184.000000,368.000000,950.000000,957.000000,1907.000000,317.000000,225.000000,542.000000,...,1089.000000,2164.000000,1132.000000,1141.000000,3.000000,1.000000,348.000000,1367.000000,808.000000,92.000000

3. Verifique si las columnas presentan missing values

In [9]:
junin_data.isnull().sum()
#Verificar si hay algun missing value en la base de datos

Unnamed: 0                  0
Region                      0
District                    0
Place                       0
4_6_years_men               0
4_6_years_women             0
4_6_years_total             0
6_14_years_men              0
6_14_years_women            0
6_14_years_total            0
man_read                    0
women_read                  0
total_read                  0
men_not_read                0
women_not_read              0
total_not_read              0
man_write                   0
women_write                 0
total_write                 0
men_not_write               0
women_not_write             0
total_not_write             0
instruction_men             0
instruction_women           0
instruction_total           0
no_instruction_men          0
no_instruction_women        0
no_instruction_total        0
finished_instr_men          0
finished_instr_women        0
finished_instr_total        0
not_finished_instr_men      0
not_finished_instr_women    0
not_finished_instr_total    0
peruvian_men                0
peruvian_women              0
foreign_men                 0
foreign_women               0
whites                      0
natives                     0
mestizos                    0
blacks                      0
dtype: int64

4.Cambie el nombre de las variables

In [10]:
junin_data.rename(columns = {'Place':'comunidad', 'men_not_read':'nlee_hombre', 'women_not_read':'nlee_mujer', 'total_not_read':'ntotal_lee', 'men_not_write':'nesc_hombre', 'women_not_write':'nesc_mujer', 'total_not_write':'nesc_total' }, inplace = True)
junin_data
#Cambiar de nombre en Python: primero el nombre inicial: nombre nuevo

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

In [11]:
junin_data.shape

(197, 42)

6.Muestre los valores únicos de las siguientes variables (comunidad y District)

In [12]:
junin_data["comunidad"].unique()

array(['C.CIUDAD DEL CERRO', 'P.YANACANCHA', 'VICO', 'RANCA', 'PASCO',
       'QUIRLACOCHA', 'CAJAMARQUILLA', 'CAICO', 'ROCO', 'C.SACRA FAMILIA',
       'P.QUINUA', 'H.PARIAHUANCA', 'P.SULLUMARCA', 'H.SAN ANDRÉS',
       'P.HUALLAY', 'C.HUAYCHAO', 'COCHAMARCA', 'P.CHACAYÁN',
       'VILCABAMBA', 'CUCHES', 'CHANGO', 'MITO', 'ANTAPIRCA', 'P.CAYNA',
       'A. COLPAS', 'P.YACAS', 'C.MASQUIN', 'P.YAMOR', 'PÁUCAR', 'TANGOR',
       'QUIO', 'CAURY', 'CHUCCHUC', 'COQUIN', 'A.YAPOC', 'P.YANAHUANCA',
       'HUAYLACIRCA', 'HUARANTAMBO', 'ANDUCHACA', 'VILLO', 'MICHIVILCA',
       'PILLAO', 'YACÁN', 'TÁPUC', 'CHAUPIMARCA', 'P.OXAPAMPA', 'P.JAUJA',
       'A.CHUNÁN', 'C.PACAPACHA', 'HUANCAS', 'A.HUERTAS', 'PACA', 'MASMA',
       'ATAURA', 'HUALÁ', 'JULCÁN', 'P.RICRÁN', 'A.PAUCÁN', 'P.APATA',
       'HUAMALÍ', 'A.SAN LORENZO', 'PACUCHO', 'P.ORCOTUNA', 'A.VICSO',
       'TISTES', 'P.HUARIPAMPA', 'A.PARCO', 'PACCHA', 'CANCHAPUNCO',
       'C.ULLUSCA', 'CANCHAS', 'P.MUQUIYAUYO', 'MUQUI', 'P.ACOLLA',
       'MARCO', 'TRAGADERO', 'CHOCÓN', 'ACAYA', 'YAUJAILLO', 'CURICACA',
       'P.CINCOS', 'C.LLACUARI', 'P.HUANCARÍ', 'C.CHALHUAS', 'ARAMACHAY',
       'P.MITO', 'A.CHAMBARÁ', 'C.QUICHA', 'HUACHAC', 'A.ACO',
       'P.LLOCLLAPAMPA', 'VISCAS ESPERANZA', 'CONCHAILLO', 'MATA-CHICO',
       'MATA-GRANDE', 'P.CONCEPCIÓN', 'SANTA ROSA DE OCOPA', 'HUANTAR',
       'A.ALAYO', 'C.SAN ANTONIO DE CARICANCHO', 'SANTO DOMINGO',
       'P.CÓMAS', 'C.CHUPA', 'COCHAS', 'P.MATAHUASI', 'P.HUANCAYO',
       'CAJAS', 'P.CHUPACA', 'A.ISCOS', 'ANTAPAMPA', 'HUAUSCA GRANDE',
       'SAN JUAN DE TARPA', 'YANACANCHA', 'COPCA', 'HUAYAN', 'HUAMANCACA',
       'PILCOMAYO', 'AHUAC', 'ACAC', 'P.SAN GERÓNIMO', 'HUALHUAS',
       'SAN PEDRO DE SAÑO', 'QUICHUAY', 'CASACANCHA', 'A.INGENIO',
       'P.SANTA CRUZ DE QUILCAY', 'RANGRA', 'P.SAPALLANGA', 'A.LA PUNTA',
       'P.PUCARÁ', 'C.PATALÁ', 'MARCAVALLE', 'COCHARCAS', 'P.CHONGOS',
       'C.TURPAC Y TINYARI', 'SOCOS', 'PUMPUNGA', 'CHUPURO',
       'CARHUAPACHA', 'A.HUAMANCACA', 'P.SICAYA', 'A.HUANCHAC',
       'C.CACHICAMARCA', 'P.COLCA', 'A.CHACAPAMPA', 'HUASICANCHA',
       'CUCHO', 'CHILIAY', 'POTACA', 'LARIA', 'CHONGOS ALTO',
       'P.HUAYUCACHI', 'HUAMANMARCA', 'VIQUES', 'CACAS', 'HUARAPUQUIO',
       'CULLHUAS', 'RETAMA', 'PACHA', 'P.TARMA', 'MACO', 'MULLUERO',
       'ANDAMARCA', 'CHANCHA', 'TARMATAMBO', 'P.JUNÍN', 'HUASAHUASY',
       'PARI', 'YANEC', 'CHUPÁN', 'ACONCOCHA', 'ONDORES', 'P.ACOBAMBA',
       'PICOY', 'C.HUARACAYO', 'A.PALCA', 'C.HUAILAHUICHÁN',
       'P.PALCAMAYO', 'P.OROYA', 'HUAYNACANCHA', 'HUAYHUAY',
       'P.CARHUAMAYO', 'ULCUMAYO', 'P.SAN RAMÓN', 'LA MERCED',
       'P.VISCATÁN', 'PAN DE AZÚCAR', 'SUITUCANCHA', 'CHACAPALCA',
       'P.POMACOCHA', 'PACHACHACA', 'YAULI', 'MINAS DE MOROCOCHA'],
      dtype=object)

In [13]:
junin_data["District"].unique()

array(['CIUDAD DEL CERRO', 'HUAYLLAY', 'CHACAYÁN', 'CAYNA', 'YANAHUANCA',
       'NINACACA', 'JAUJA', 'APATA', 'ORCOTUNA', 'HUARIPAMPA',
       'MUQUIYAUYO', 'ACOLLA', 'CINCOS', 'MITO', 'LLOCLLAPAMPA',
       'CONCEPCIÓN', 'COCHAS', 'MATAHUASI', 'HUANCAYO', 'CHUPACA',
       'SAN GERÓNIMO', 'SAPALLANGA', 'CHONGOS', 'SICAYA', 'COLCA',
       'HUAYUCACHI', 'TARMA', 'JUNÍN', 'ACOBAMBA', 'OROYA', 'CARHUAMAYO',
       'CHANCHAMAYO', 'VITOC', 'CHACAPALCA', 'YAULI'], dtype=object)

7. Borrar las varaibles finished_instr_total, finished_instr_men y finished_instr_women

In [14]:
B = junin_data.drop(['finished_instr_total', 'finished_instr_men', 'finished_instr_women'], axis=1)
B

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

In [15]:
B.shape

(197, 39)

8. Crear columnas con las siguiente información: el % de mujeres que no escriben ni leen, % de varones que no escriben ni leen y % de nativos respecto al total de la población.

In [16]:
B["Population"] = B["peruvian_men"] + B["peruvian_women"] + B["foreign_men"] + B["foreign_women"]
B

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks,Population
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,544,361,216,1,1,4,284,290,1,579
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,100,50,50,0,0,0,100,0,0,100
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,72,47,25,0,0,0,69,3,0,72
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,50,25,25,0,0,0,25,25,0,50
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,50,25,25,0,0,0,37,13,0,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,72,72,0,0,0,0,35,39,0,72
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,23,16,7,0,0,0,21,2,0,23
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,30,22,8,0,0,0,4,26,0,30
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,103,76,44,0,0,37,14,69,0,120
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,126,96,30,0,0,1,118,7,0,126

In [17]:
B["WN_EN_L"] = ((B["nlee_mujer"] + B["nesc_mujer"])/B["Population"])*100
B

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks,Population,WN_EN_L
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,361,216,1,1,4,284,290,1,579,53.540587
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,50,0,0,0,100,0,0,100,100.000000
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,47,25,0,0,0,69,3,0,72,69.444444
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,25,0,0,0,25,25,0,50,100.000000
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,25,0,0,0,37,13,0,50,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,72,0,0,0,0,35,39,0,72,0.000000
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,16,7,0,0,0,21,2,0,23,60.869565
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,22,8,0,0,0,4,26,0,30,46.666667
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,76,44,0,0,37,14,69,0,120,42.500000
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,96,30,0,0,1,118,7,0,126,47.619048

In [18]:
B["MN_EN_L"] =  ((B["nlee_hombre"] + B["nesc_hombre"])/B["Population"])*100
B

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks,Population,WN_EN_L,MN_EN_L
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,216,1,1,4,284,290,1,579,53.540587,82.037997
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,0,0,0,100,0,0,100,100.000000,44.000000
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,0,0,0,69,3,0,72,69.444444,77.777778
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,0,0,0,25,25,0,50,100.000000,0.000000
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,0,0,0,37,13,0,50,100.000000,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,0,0,0,35,39,0,72,0.000000,123.611111
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,0,0,0,21,2,0,23,60.869565,91.304348
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,0,0,0,4,26,0,30,46.666667,110.000000
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,44,0,0,37,14,69,0,120,42.500000,73.333333
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,0,0,1,118,7,0,126,47.619048,142.857143

In [19]:
B["Nativos"] = (B["natives"]/B["Population"])*100
B

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Population,WN_EN_L,MN_EN_L,Nativos
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,1,1,4,284,290,1,579,53.540587,82.037997,49.050086
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,0,0,0,100,0,0,100,100.000000,44.000000,100.000000
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,0,0,0,69,3,0,72,69.444444,77.777778,95.833333
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,0,0,0,25,25,0,50,100.000000,0.000000,50.000000
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,0,0,0,37,13,0,50,100.000000,88.000000,74.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,0,0,35,39,0,72,0.000000,123.611111,48.611111
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,0,0,0,21,2,0,23,60.869565,91.304348,91.304348
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,0,0,0,4,26,0,30,46.666667,110.000000,13.333333
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,0,0,37,14,69,0,120,42.500000,73.333333,11.666667
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,0,0,1,118,7,0,126,47.619048,142.857143,93.650794

9.Crear una base de datos con la siguiente información:

a. Quedarse con la información de los distritos de Ciudad del Cerro, Jauja, Acolla, San Gerónimo, Tarma, Oroya y Concepción

In [20]:
D = B[(B["District"] == "CIUDAD DEL CERRO")| (B["District"] == "JAUJA") | (B["District"] == "ACOLLA") | (B["District"] == "SAN GERÓNIMO") | (B["District"] == "TARMA") | (B["District"] == "OROYA") | (B["District"] == "CONCEPCIÓN")]
D

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Population,WN_EN_L,MN_EN_L,Nativos
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,1,1,4,284,290,1,579,53.540587,82.037997,49.050086
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,0,0,0,100,0,0,100,100.000000,44.000000,100.000000
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,0,0,0,69,3,0,72,69.444444,77.777778,95.833333
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,0,0,0,25,25,0,50,100.000000,0.000000,50.000000
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,0,0,0,37,13,0,50,100.000000,88.000000,74.000000
5,5,JUNIN,CIUDAD DEL CERRO,QUIRLACOCHA,6,7,13,44,43,87,...,0,0,0,65,35,0,100,94.000000,75.000000,65.000000
6,6,JUNIN,CIUDAD DEL CERRO,CAJAMARQUILLA,9,8,17,31,39,70,...,0,0,0,87,0,0,87,108.045977,91.954023,100.000000
7,7,JUNIN,CIUDAD DEL CERRO,CAICO,18,23,41,90,77,167,...,0,0,4,175,29,0,208,76.923077,49.519231,84.134615
8,8,JUNIN,CIUDAD DEL CERRO,ROCO,7,4,11,42,19,61,...,0,0,0,70,2,0,72,61.111111,136.111111,97.222222
9,9,JUNIN,CIUDAD DEL CERRO,C.SACRA FAMILIA,16,8,24,26,25,51,...,0,0,0,73,2,0,75,88.000000,110.666667,97.333333
10,10,JUNIN,CIUDAD DEL CERRO,P.QUINUA,8,6,14,17,19,36,...,0,0,0,50,0,0,50,100.000000,100.000000,100.000000
11,11,JUNIN,CIUDAD DEL CERRO,H.PARIAHUANCA,2,6,8,10,12,22,...,0,0,0,24,6,0,30,120.000000,80.000000,80.000000
12,12,JUNIN,CIUDAD DEL CERRO,P.SULLUMARCA,12,14,26,38,32,70,...,0,0,0,96,0,0,96,95.833333,104.166667,100.000000
13,13,JUNIN,CIUDAD DEL CERRO,H.SAN ANDRÉS,8,0,8,17,25,42,...,0,0,0,44,6,0,50,100.000000,88.000000,88.000000
47,47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,...,0,0,63,117,662,0,842,60.332542,55.938242,13.895487
48,48,JUNIN,JAUJA,A.CHUNÁN,12,11,23,45,21,66,...,0,0,0,89,0,0,89,71.910112,83.146067,100.000000
49,49,JUNIN,JAUJA,C.PACAPACHA,1,7,8,24,18,42,...,0,0,0,50,0,0,50,100.000000,56.000000,100.000000
50,50,JUNIN,JAUJA,HUANCAS,3,2,5,29,40,69,...,0,0,0,74,0,0,74,113.513514,63.513514,100.000000
51,51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,...,0,0,0,195,55,0,250,95.200000,52.400000,78.000000
52,52,JUNIN,JAUJA,PACA,1,4,5,84,52,136,...,0,0,6,141,0,0,141,79.432624,44.680851,100.000000
53,53,JUNIN,JAUJA,MASMA,27,15,42,148,139,287,...,0,0,0,294,29,0,329,90.881459,64.741641,89.361702
54,54,JUNIN,JAUJA,ATAURA,24,22,46,74,68,142,...,0,0,0,104,84,0,188,81.382979,70.744681,55.319149
55,55,JUNIN,JAUJA,HUALÁ,9,9,18,57,28,85,...,0,0,0,99,4,0,103,67.961165,66.990291,96.116505
56,56,JUNIN,JAUJA,JULCÁN,19,11,30,106,144,250,...,0,0,0,178,72,0,250,90.000000,44.000000,71.200000
57,57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,...,0,0,0,240,8,0,248,90.725806,86.290323,96.774194
58,58,JUNIN,JAUJA,A.PAUCÁN,21,13,34,85,69,154,...,0,0,0,65,123,0,188,87.234043,69.148936,34.574468
74,74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,...,0,0,0,333,27,0,360,84.166667,80.000000,92.500000
75,75,JUNIN,ACOLLA,MARCO,16,12,28,94,55,149,...,0,0,0,167,10,0,177,75.706215,94.915254,94.350282
76,76,JUNIN,ACOLLA,TRAGADERO,20,13,33,87,52,139,...,0,0,0,169,3,0,172,73.255814,51.744186,98.255814
77,77,JUNIN,ACOLLA,CHOCÓN,2,0,2,16,22,38,...,0,0,0,40,0,0,40,110.000000,85.000000,100.000000
78,78,JUNIN,ACOLLA,ACAYA,2,2,4,29,21,50,...,0,0,0,54,0,0,54,85.185185,88.888889,100.000000
79,79,JUNIN,ACOLLA,YAUJAILLO,11,2,13,13,4,17,...,0,0,0,30,0,0,30,40.000000,140.000000,100.000000
80,80,JUNIN,ACOLLA,CURICACA,8,3,11,25,10,35,...,0,0,0,46,0,0,46,56.521739,93.478261,100.000000
96,96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,...,0,0,0,141,282,0,423,79.905437,66.666667,33.333333
97,97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,...,0,0,0,183,65,0,248,97.177419,60.887097,73.790323
98,98,JUNIN,CONCEPCIÓN,HUANTAR,3,0,3,47,41,88,...,0,0,0,90,1,0,91,85.714286,35.164835,98.901099
99,99,JUNIN,CONCEPCIÓN,A.ALAYO,3,8,11,22,29,51,...,0,0,0,62,0,0,62,119.354839,45.161290,100.000000
100,100,JUNIN,CONCEPCIÓN,C.SAN ANTONIO DE CARICANCHO,10,8,18,68,46,114,...,0,0,0,132,0,0,132,81.818182,87.121212,100.000000
101,101,JUNIN,CONCEPCIÓN,SANTO DOMINGO,16,11,27,30,41,71,...,0,0,0,98,0,0,98,106.122449,89.795918,100.000000
121,121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,...,0,0,348,157,72,0,577,79.202773,54.419411,27.209705
122,122,JUNIN,SAN GERÓNIMO,HUALHUAS,20,20,40,92,90,182,...,0,0,222,0,0,0,222,98.198198,65.315315,0.000000
123,123,JUNIN,SAN GERÓNIMO,SAN PEDRO DE SAÑO,19,13,32,73,57,130,...,0,0,50,64,48,0,162,84.567901,60.493827,39.506173
124,124,JUNIN,SAN GERÓNIMO,QUICHUAY,13,19,32,62,56,118,...,0,0,59,26,65,0,150,96.000000,70.666667,17.333333
125,125,JUNIN,SAN GERÓNIMO,CASACANCHA,10,9,19,28,27,55,...,0,0,31,35,8,0,74,97.297297,63.513514,47.297297
126,126,JUNIN,SAN GERÓNIMO,A.INGENIO,18,6,24,77,75,152,...,0,0,57,72,47,0,176,90.340909,66.477273,40.909091
127,127,JUNIN,SAN GERÓNIMO,P.SANTA CRUZ DE QUILCAY,21,20,41,101,84,185,...,0,0,31,42,153,0,226,90.265487,91.150442,18.584071
128,128,JUNIN,SAN GERÓNIMO,RANGRA,7,1,8,26,12,38,...,0,0,13,33,0,0,46,56.521739,84.782609,71.739130
161,161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,...,3,1,158,189,689,1,1037,69.623915,52.555448,18.225651
162,162,JUNIN,TARMA,MACO,28,12,40,72,52,124,...,0,0,0,164,0,0,164,78.048780,89.024390,100.000000
163,163,JUNIN,TARMA,MULLUERO,11,14,25,114,73,187,...,0,0,0,179,33,0,212,81.132075,98.584906,84.433962
164,164,JUNIN,TARMA,ANDAMARCA,7,6,13,68,52,120,...,0,0,0,91,42,0,133,75.939850,51.127820,68.421053
165,165,JUNIN,TARMA,CHANCHA,17,20,37,122,77,199,...,0,0,0,228,8,0,236,82.203390,94.067797,96.610169
166,166,JUNIN,TARMA,TARMATAMBO,3,1,4,72,32,104,...,0,0,0,108,0,0,108,61.111111,99.074074,100.000000
181,181,JUNIN,OROYA,P.OROYA,11,9,20,41,35,76,...,0,0,15,28,53,0,96,39.583333,72.916667,29.166667
182,182,JUNIN,OROYA,HUAYNACANCHA,4,2,6,11,16,27,...,0,0,0,33,0,0,33,109.090909,90.909091,100.000000
183,183,JUNIN,OROYA,PACHA,2,4,6,7,3,10,...,0,0,0,16,0,0,16,87.500000,112.500000,100.000000
184,184,JUNIN,OROYA,HUAYHUAY,13,8,21,55,33,88,...,0,0,0,108,1,0,109,62.385321,39.449541,99.082569

b. Ciudades con una cantidad de niños (4-6 años) mayor a 50 y de (6-14 años) > 70

In [21]:
nin= D[(D["4_6_years_total"]> 50) & (D["6_14_years_total"]> 70)]
nin

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Population,WN_EN_L,MN_EN_L,Nativos
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,1,1,4,284,290,1,579,53.540587,82.037997,49.050086
47,47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,...,0,0,63,117,662,0,842,60.332542,55.938242,13.895487
51,51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,...,0,0,0,195,55,0,250,95.200000,52.400000,78.000000
57,57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,...,0,0,0,240,8,0,248,90.725806,86.290323,96.774194
74,74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,...,0,0,0,333,27,0,360,84.166667,80.000000,92.500000
96,96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,...,0,0,0,141,282,0,423,79.905437,66.666667,33.333333
97,97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,...,0,0,0,183,65,0,248,97.177419,60.887097,73.790323
121,121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,...,0,0,348,157,72,0,577,79.202773,54.419411,27.209705
161,161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,...,3,1,158,189,689,1,1037,69.623915,52.555448,18.225651

c. Ordenar las variables según el total de la población y cantidad de población nativa

In [22]:
E = nin.sort_values(["Population","natives"], ascending = [True,True])
E

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Population,WN_EN_L,MN_EN_L,Nativos
97,97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,...,0,0,0,183,65,0,248,97.177419,60.887097,73.790323
57,57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,...,0,0,0,240,8,0,248,90.725806,86.290323,96.774194
51,51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,...,0,0,0,195,55,0,250,95.200000,52.400000,78.000000
74,74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,...,0,0,0,333,27,0,360,84.166667,80.000000,92.500000
96,96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,...,0,0,0,141,282,0,423,79.905437,66.666667,33.333333
121,121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,...,0,0,348,157,72,0,577,79.202773,54.419411,27.209705
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,1,1,4,284,290,1,579,53.540587,82.037997,49.050086
47,47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,...,0,0,63,117,662,0,842,60.332542,55.938242,13.895487
161,161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,...,3,1,158,189,689,1,1037,69.623915,52.555448,18.225651

d. Solo quedarse con las variables trabajadas en 8, Distrito, y comunidad.

In [23]:
F = E[["WN_EN_L","MN_EN_L","Nativos","District","comunidad"]]
F

       WN_EN_L    MN_EN_L    Nativos          District            comunidad
97   97.177419  60.887097  73.790323        CONCEPCIÓN  SANTA ROSA DE OCOPA
57   90.725806  86.290323  96.774194             JAUJA             P.RICRÁN
51   95.200000  52.400000  78.000000             JAUJA            A.HUERTAS
74   84.166667  80.000000  92.500000            ACOLLA             P.ACOLLA
96   79.905437  66.666667  33.333333        CONCEPCIÓN         P.CONCEPCIÓN
121  79.202773  54.419411  27.209705      SAN GERÓNIMO       P.SAN GERÓNIMO
0    53.540587  82.037997  49.050086  CIUDAD DEL CERRO   C.CIUDAD DEL CERRO
47   60.332542  55.938242  13.895487             JAUJA              P.JAUJA
161  69.623915  52.555448  18.225651             TARMA              P.TARMA

e. Guardar la mitad de la información en bases diferentes (llamar a cada uno Base1 y Base 2)

In [24]:
Base1 = F.loc[[97,57,51,74],:]
DataFrame(Base1)

      WN_EN_L    MN_EN_L    Nativos    District            comunidad
97  97.177419  60.887097  73.790323  CONCEPCIÓN  SANTA ROSA DE OCOPA
57  90.725806  86.290323  96.774194       JAUJA             P.RICRÁN
51  95.200000  52.400000  78.000000       JAUJA            A.HUERTAS
74  84.166667  80.000000  92.500000      ACOLLA             P.ACOLLA

In [25]:
Base2 = F.loc[[96,121,0,47,161],:]
DataFrame(Base2)

       WN_EN_L    MN_EN_L    Nativos          District           comunidad
96   79.905437  66.666667  33.333333        CONCEPCIÓN        P.CONCEPCIÓN
121  79.202773  54.419411  27.209705      SAN GERÓNIMO      P.SAN GERÓNIMO
0    53.540587  82.037997  49.050086  CIUDAD DEL CERRO  C.CIUDAD DEL CERRO
47   60.332542  55.938242  13.895487             JAUJA             P.JAUJA
161  69.623915  52.555448  18.225651             TARMA             P.TARMA

f. Guardar la Base1 en formato csv y excel en la carpeta data. (Use el siguiente nombre Base1_WG(numero de grupo))

In [26]:
Base1.to_csv("..\data\Base1_WHG(4).csv")
Base1.to_excel("..\data\Base1_WHG(4).xlsx")

OSError: Cannot save file into a non-existent directory: '..\data'