In [6]:
import pandas as pd
import numpy as np

In [7]:
junin_data = pd.read_excel("../data/Region_Junin.xlsx") #Leer la data

In [8]:
junin_data.head()

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0

In [9]:
type(junin_data) #el tipo de dato que es

pandas.core.frame.DataFrame

In [10]:
junin_data.info() #información sobre las variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                197 non-null    int64
 1   Region                    197 non-null    object
 2   District                  197 non-null    object
 3   Place                     197 non-null    object
 4   4_6_years_men             197 non-null    int64
 5   4_6_years_women           197 non-null    int64
 6   4_6_years_total           197 non-null    int64
 7   6_14_years_men            197 non-null    int64
 8   6_14_years_women          197 non-null    int64
 9   6_14_years_total          197 non-null    int64
 10  man_read                  197 non-null    int64
 11  women_read                197 non-null    int64
 12  total_read                197 non-null    int64
 13  men_not_read              197 non-null    int64
 14  women_not_read            197 non-null    int64
 15  total_not_read            197 non-null    int64
 16  man_write                 197 non-null    int64
 17  women_write               197 non-null    int64
 18  total_write               197 non-null    int64
 19  men_not_write             197 non-null    int64
 20  women_not_write           197 non-null    int64
 21  total_not_write           197 non-null    int64
 22  instruction_men           197 non-null    int64
 23  instruction_women         197 non-null    int64
 24  instruction_total         197 non-null    int64
 25  no_instruction_men        197 non-null    int64
 26  no_instruction_women      197 non-null    int64
 27  no_instruction_total      197 non-null    int64
 28  finished_instr_men        197 non-null    int64
 29  finished_instr_women      197 non-null    int64
 30  finished_instr_total      197 non-null    int64
 31  not_finished_instr_men    197 non-null    int64
 32  not_finished_instr_women  197 non-null    int64
 33  not_finished_instr_total  197 non-null    int64
 34  peruvian_men              197 non-null    int64
 35  peruvian_women            197 non-null    int64
 36  foreign_men               197 non-null    int64
 37  foreign_women             197 non-null    int64
 38  whites                    197 non-null    int64
 39  natives                   197 non-null    int64
 40  mestizos                  197 non-null    int64
 41  blacks                    197 non-null    int64
dtypes: int64(39), object(3)
memory usage: 64.8+ KB

In [11]:
junin_data.describe() #Estadisticos de variables

,Unnamed: 0,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,total_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,...,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,98.000000,16.979695,15.345178,32.324873,79.005076,62.482234,141.538071,34.654822,11.705584,46.360406,...,79.238579,172.675127,95.918782,77.664975,0.030457,0.010152,9.893401,110.558376,52.583756,0.776650
std,57.013156,22.571419,21.618979,43.489455,99.837291,90.879972,188.535210,51.091581,34.676708,83.291516,...,111.799104,220.657751,120.177520,110.539722,0.265511,0.100501,39.677190,131.094774,123.120065,7.584952
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,4.000000,4.000000,8.000000,25.000000,19.000000,42.000000,2.000000,0.000000,2.000000,...,25.000000,50.000000,31.000000,25.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
50%,98.000000,10.000000,9.000000,20.000000,55.000000,41.000000,91.000000,21.000000,0.000000,23.000000,...,50.000000,108.000000,65.000000,50.000000,0.000000,0.000000,0.000000,73.000000,3.000000,0.000000
75%,147.000000,20.000000,18.000000,39.000000,88.000000,73.000000,160.000000,42.000000,7.000000,50.000000,...,94.000000,197.000000,103.000000,91.000000,0.000000,0.000000,0.000000,143.000000,48.000000,0.000000
max,196.000000,184.000000,184.000000,368.000000,950.000000,957.000000,1907.000000,317.000000,225.000000,542.000000,...,1089.000000,2164.000000,1132.000000,1141.000000,3.000000,1.000000,348.000000,1367.000000,808.000000,92.000000

In [12]:
junin_data.isnull().values.any() #Verficamos si existe al menos un NaN en el Data Frame. Si es True, existe al menos un NaN

False

In [13]:
junin_data.isnull().sum() #Otra forma de verificar los valores nulos. ApLICAMOS UNA SUMA DE TODOS LOS VALORES NULOS POR COLUMNA

Unnamed: 0                  0
Region                      0
District                    0
Place                       0
4_6_years_men               0
4_6_years_women             0
4_6_years_total             0
6_14_years_men              0
6_14_years_women            0
6_14_years_total            0
man_read                    0
women_read                  0
total_read                  0
men_not_read                0
women_not_read              0
total_not_read              0
man_write                   0
women_write                 0
total_write                 0
men_not_write               0
women_not_write             0
total_not_write             0
instruction_men             0
instruction_women           0
instruction_total           0
no_instruction_men          0
no_instruction_women        0
no_instruction_total        0
finished_instr_men          0
finished_instr_women        0
finished_instr_total        0
not_finished_instr_men      0
not_finished_instr_women    0
not_finished_instr_total    0
peruvian_men                0
peruvian_women              0
foreign_men                 0
foreign_women               0
whites                      0
natives                     0
mestizos                    0
blacks                      0
dtype: int64

Cambie el nombre de las siguientes variables:
Place : comunidad
* men_not_read: nlee_hombre
* women_not_read: nlee_mujer
* total_not_read: ntotal_lee

* men_not_write: nesc_hombre
* women_not_write: nesc_mujer
* total_not_write: nesc_total

In [14]:
junin_data.rename(columns = {'men_not_read':'nlee_hombre', 'women_not_read':'nlee_mujer', 'total_not_read': 'ntotal_lee','men_not_write': 'nesc_hombre','women_not_write': 'nesc_mujer','total_not_write': 'nesc_total'}, inplace = True)
#Renombrando columnas

In [15]:
junin_data

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

In [16]:
junin_data.columns # Visualizamos los cambios realizados

Index(['Unnamed: 0', 'Region', 'District', 'Place', '4_6_years_men',
       '4_6_years_women', '4_6_years_total', '6_14_years_men',
       '6_14_years_women', '6_14_years_total', 'man_read', 'women_read',
       'total_read', 'nlee_hombre', 'nlee_mujer', 'ntotal_lee', 'man_write',
       'women_write', 'total_write', 'nesc_hombre', 'nesc_mujer', 'nesc_total',
       'instruction_men', 'instruction_women', 'instruction_total',
       'no_instruction_men', 'no_instruction_women', 'no_instruction_total',
       'finished_instr_men', 'finished_instr_women', 'finished_instr_total',
       'not_finished_instr_men', 'not_finished_instr_women',
       'not_finished_instr_total', 'peruvian_men', 'peruvian_women',
       'foreign_men', 'foreign_women', 'whites', 'natives', 'mestizos',
       'blacks'],
      dtype='object')

In [17]:
 junin_data['District'].unique() # mostraremos los valores unicos de la columna District

array(['CIUDAD DEL CERRO', 'HUAYLLAY', 'CHACAYÁN', 'CAYNA', 'YANAHUANCA',
       'NINACACA', 'JAUJA', 'APATA', 'ORCOTUNA', 'HUARIPAMPA',
       'MUQUIYAUYO', 'ACOLLA', 'CINCOS', 'MITO', 'LLOCLLAPAMPA',
       'CONCEPCIÓN', 'COCHAS', 'MATAHUASI', 'HUANCAYO', 'CHUPACA',
       'SAN GERÓNIMO', 'SAPALLANGA', 'CHONGOS', 'SICAYA', 'COLCA',
       'HUAYUCACHI', 'TARMA', 'JUNÍN', 'ACOBAMBA', 'OROYA', 'CARHUAMAYO',
       'CHANCHAMAYO', 'VITOC', 'CHACAPALCA', 'YAULI'], dtype=object)

In [18]:
len(junin_data['District'].unique())

35

In [19]:
#Creamos un nuevo df donde estará data_junin sin las 2 columnas
new_junin_data = junin_data.drop(['finished_instr_men', 'finished_instr_women'],  axis = 1)
new_junin_data

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

In [20]:
x1 = new_junin_data.columns.tolist()
x2 = junin_data.columns.tolist()
set(x1) == set(x2)

False

nlee_hombre', 'nlee_mujer', 'ntotal_lee', 'man_write',
       'women_write', 'total_write', 'nesc_hombre', 'nesc_hombre',
       'nesc_total'

In [21]:
new_junin_data['Total_Poblacion'] = new_junin_data['peruvian_men'] + new_junin_data['peruvian_women'] + new_junin_data['foreign_men']+ new_junin_data['foreign_women']

In [22]:
new_junin_data

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_Poblacion
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,544,361,216,1,1,4,284,290,1,579
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,100,50,50,0,0,0,100,0,0,100
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,72,47,25,0,0,0,69,3,0,72
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,50,25,25,0,0,0,25,25,0,50
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,50,25,25,0,0,0,37,13,0,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,72,72,0,0,0,0,35,39,0,72
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,23,16,7,0,0,0,21,2,0,23
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,30,22,8,0,0,0,4,26,0,30
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,103,76,44,0,0,37,14,69,0,120
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,126,96,30,0,0,1,118,7,0,126

In [23]:
new_junin_data['mujeres_nwnr'] = (((new_junin_data['nlee_mujer'] + new_junin_data['nesc_mujer'])/new_junin_data['Total_Poblacion'])*100).round()
new_junin_data['hombres_nwnr'] =(((new_junin_data['nlee_hombre'] + new_junin_data['nesc_hombre'])/new_junin_data['Total_Poblacion'])*100).round()
new_junin_data['percent_nativos'] =(((new_junin_data['natives'])/new_junin_data['Total_Poblacion'])*100).round()
new_junin_data

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_Poblacion,mujeres_nwnr,hombres_nwnr,percent_nativos
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,1,1,4,284,290,1,579,54.0,82.0,49.0
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,0,0,0,100,0,0,100,100.0,44.0,100.0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,0,0,0,69,3,0,72,69.0,78.0,96.0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,0,0,0,25,25,0,50,100.0,0.0,50.0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,0,0,0,37,13,0,50,100.0,88.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,0,0,35,39,0,72,0.0,124.0,49.0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,0,0,0,21,2,0,23,61.0,91.0,91.0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,0,0,0,4,26,0,30,47.0,110.0,13.0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,0,0,37,14,69,0,120,42.0,73.0,12.0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,0,0,1,118,7,0,126,48.0,143.0,94.0

Crear una base de datos con la siguiente información:}
* a. Quedarse con la información de los distritos de Ciudad del Cerro, Jauja, Acolla, San Gerónimo, Tarma, Oroya y Concepción
* b. Ciudades con una cantidad de niños (4-6 años) mayor a 50 y de (6-14 años) > 70
* c. Ordenar las variables según el total de la población y cantidad de población nativa
* d. Solo quedarse con las variables trabajadas en 8, Distrito, y comunidad.
* e. Guardar la mitad de la información en bases diferentes (llamar a cada uno Base1 y Base 2)
* f. Guardar la Base1 en formato csv y excel en la carpeta data. (Use el siguiente nombre Base1_WG(numero de grupo))

In [24]:
new_junin_data['District'].unique()

array(['CIUDAD DEL CERRO', 'HUAYLLAY', 'CHACAYÁN', 'CAYNA', 'YANAHUANCA',
       'NINACACA', 'JAUJA', 'APATA', 'ORCOTUNA', 'HUARIPAMPA',
       'MUQUIYAUYO', 'ACOLLA', 'CINCOS', 'MITO', 'LLOCLLAPAMPA',
       'CONCEPCIÓN', 'COCHAS', 'MATAHUASI', 'HUANCAYO', 'CHUPACA',
       'SAN GERÓNIMO', 'SAPALLANGA', 'CHONGOS', 'SICAYA', 'COLCA',
       'HUAYUCACHI', 'TARMA', 'JUNÍN', 'ACOBAMBA', 'OROYA', 'CARHUAMAYO',
       'CHANCHAMAYO', 'VITOC', 'CHACAPALCA', 'YAULI'], dtype=object)

In [25]:
base = new_junin_data[(new_junin_data.District == "CIUDAD DEL CERRO") | (new_junin_data.District == "JAUJA")  | (new_junin_data.District == "ACOLLA") | (new_junin_data.District == "SAN GERÓNIMO")  | (new_junin_data.District == "TARMA") | (new_junin_data.District =="OROYA") | (new_junin_data.District =="CONCEPCIÓN")]


base

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_Poblacion,mujeres_nwnr,hombres_nwnr,percent_nativos
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,1,1,4,284,290,1,579,54.0,82.0,49.0
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,0,0,0,100,0,0,100,100.0,44.0,100.0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,0,0,0,69,3,0,72,69.0,78.0,96.0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,0,0,0,25,25,0,50,100.0,0.0,50.0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,0,0,0,37,13,0,50,100.0,88.0,74.0
5,5,JUNIN,CIUDAD DEL CERRO,QUIRLACOCHA,6,7,13,44,43,87,...,0,0,0,65,35,0,100,94.0,75.0,65.0
6,6,JUNIN,CIUDAD DEL CERRO,CAJAMARQUILLA,9,8,17,31,39,70,...,0,0,0,87,0,0,87,108.0,92.0,100.0
7,7,JUNIN,CIUDAD DEL CERRO,CAICO,18,23,41,90,77,167,...,0,0,4,175,29,0,208,77.0,50.0,84.0
8,8,JUNIN,CIUDAD DEL CERRO,ROCO,7,4,11,42,19,61,...,0,0,0,70,2,0,72,61.0,136.0,97.0
9,9,JUNIN,CIUDAD DEL CERRO,C.SACRA FAMILIA,16,8,24,26,25,51,...,0,0,0,73,2,0,75,88.0,111.0,97.0
10,10,JUNIN,CIUDAD DEL CERRO,P.QUINUA,8,6,14,17,19,36,...,0,0,0,50,0,0,50,100.0,100.0,100.0
11,11,JUNIN,CIUDAD DEL CERRO,H.PARIAHUANCA,2,6,8,10,12,22,...,0,0,0,24,6,0,30,120.0,80.0,80.0
12,12,JUNIN,CIUDAD DEL CERRO,P.SULLUMARCA,12,14,26,38,32,70,...,0,0,0,96,0,0,96,96.0,104.0,100.0
13,13,JUNIN,CIUDAD DEL CERRO,H.SAN ANDRÉS,8,0,8,17,25,42,...,0,0,0,44,6,0,50,100.0,88.0,88.0
47,47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,...,0,0,63,117,662,0,842,60.0,56.0,14.0
48,48,JUNIN,JAUJA,A.CHUNÁN,12,11,23,45,21,66,...,0,0,0,89,0,0,89,72.0,83.0,100.0
49,49,JUNIN,JAUJA,C.PACAPACHA,1,7,8,24,18,42,...,0,0,0,50,0,0,50,100.0,56.0,100.0
50,50,JUNIN,JAUJA,HUANCAS,3,2,5,29,40,69,...,0,0,0,74,0,0,74,114.0,64.0,100.0
51,51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,...,0,0,0,195,55,0,250,95.0,52.0,78.0
52,52,JUNIN,JAUJA,PACA,1,4,5,84,52,136,...,0,0,6,141,0,0,141,79.0,45.0,100.0
53,53,JUNIN,JAUJA,MASMA,27,15,42,148,139,287,...,0,0,0,294,29,0,329,91.0,65.0,89.0
54,54,JUNIN,JAUJA,ATAURA,24,22,46,74,68,142,...,0,0,0,104,84,0,188,81.0,71.0,55.0
55,55,JUNIN,JAUJA,HUALÁ,9,9,18,57,28,85,...,0,0,0,99,4,0,103,68.0,67.0,96.0
56,56,JUNIN,JAUJA,JULCÁN,19,11,30,106,144,250,...,0,0,0,178,72,0,250,90.0,44.0,71.0
57,57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,...,0,0,0,240,8,0,248,91.0,86.0,97.0
58,58,JUNIN,JAUJA,A.PAUCÁN,21,13,34,85,69,154,...,0,0,0,65,123,0,188,87.0,69.0,35.0
74,74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,...,0,0,0,333,27,0,360,84.0,80.0,92.0
75,75,JUNIN,ACOLLA,MARCO,16,12,28,94,55,149,...,0,0,0,167,10,0,177,76.0,95.0,94.0
76,76,JUNIN,ACOLLA,TRAGADERO,20,13,33,87,52,139,...,0,0,0,169,3,0,172,73.0,52.0,98.0
77,77,JUNIN,ACOLLA,CHOCÓN,2,0,2,16,22,38,...,0,0,0,40,0,0,40,110.0,85.0,100.0
78,78,JUNIN,ACOLLA,ACAYA,2,2,4,29,21,50,...,0,0,0,54,0,0,54,85.0,89.0,100.0
79,79,JUNIN,ACOLLA,YAUJAILLO,11,2,13,13,4,17,...,0,0,0,30,0,0,30,40.0,140.0,100.0
80,80,JUNIN,ACOLLA,CURICACA,8,3,11,25,10,35,...,0,0,0,46,0,0,46,57.0,93.0,100.0
96,96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,...,0,0,0,141,282,0,423,80.0,67.0,33.0
97,97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,...,0,0,0,183,65,0,248,97.0,61.0,74.0
98,98,JUNIN,CONCEPCIÓN,HUANTAR,3,0,3,47,41,88,...,0,0,0,90,1,0,91,86.0,35.0,99.0
99,99,JUNIN,CONCEPCIÓN,A.ALAYO,3,8,11,22,29,51,...,0,0,0,62,0,0,62,119.0,45.0,100.0
100,100,JUNIN,CONCEPCIÓN,C.SAN ANTONIO DE CARICANCHO,10,8,18,68,46,114,...,0,0,0,132,0,0,132,82.0,87.0,100.0
101,101,JUNIN,CONCEPCIÓN,SANTO DOMINGO,16,11,27,30,41,71,...,0,0,0,98,0,0,98,106.0,90.0,100.0
121,121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,...,0,0,348,157,72,0,577,79.0,54.0,27.0
122,122,JUNIN,SAN GERÓNIMO,HUALHUAS,20,20,40,92,90,182,...,0,0,222,0,0,0,222,98.0,65.0,0.0
123,123,JUNIN,SAN GERÓNIMO,SAN PEDRO DE SAÑO,19,13,32,73,57,130,...,0,0,50,64,48,0,162,85.0,60.0,40.0
124,124,JUNIN,SAN GERÓNIMO,QUICHUAY,13,19,32,62,56,118,...,0,0,59,26,65,0,150,96.0,71.0,17.0
125,125,JUNIN,SAN GERÓNIMO,CASACANCHA,10,9,19,28,27,55,...,0,0,31,35,8,0,74,97.0,64.0,47.0
126,126,JUNIN,SAN GERÓNIMO,A.INGENIO,18,6,24,77,75,152,...,0,0,57,72,47,0,176,90.0,66.0,41.0
127,127,JUNIN,SAN GERÓNIMO,P.SANTA CRUZ DE QUILCAY,21,20,41,101,84,185,...,0,0,31,42,153,0,226,90.0,91.0,19.0
128,128,JUNIN,SAN GERÓNIMO,RANGRA,7,1,8,26,12,38,...,0,0,13,33,0,0,46,57.0,85.0,72.0
161,161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,...,3,1,158,189,689,1,1037,70.0,53.0,18.0
162,162,JUNIN,TARMA,MACO,28,12,40,72,52,124,...,0,0,0,164,0,0,164,78.0,89.0,100.0
163,163,JUNIN,TARMA,MULLUERO,11,14,25,114,73,187,...,0,0,0,179,33,0,212,81.0,99.0,84.0
164,164,JUNIN,TARMA,ANDAMARCA,7,6,13,68,52,120,...,0,0,0,91,42,0,133,76.0,51.0,68.0
165,165,JUNIN,TARMA,CHANCHA,17,20,37,122,77,199,...,0,0,0,228,8,0,236,82.0,94.0,97.0
166,166,JUNIN,TARMA,TARMATAMBO,3,1,4,72,32,104,...,0,0,0,108,0,0,108,61.0,99.0,100.0
181,181,JUNIN,OROYA,P.OROYA,11,9,20,41,35,76,...,0,0,15,28,53,0,96,40.0,73.0,29.0
182,182,JUNIN,OROYA,HUAYNACANCHA,4,2,6,11,16,27,...,0,0,0,33,0,0,33,109.0,91.0,100.0
183,183,JUNIN,OROYA,PACHA,2,4,6,7,3,10,...,0,0,0,16,0,0,16,88.0,112.0,100.0
184,184,JUNIN,OROYA,HUAYHUAY,13,8,21,55,33,88,...,0,0,0,108,1,0,109,62.0,39.0,99.0

In [26]:
base = base.loc[(base['4_6_years_total']>50) & (base['6_14_years_total']>70)]
base

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_Poblacion,mujeres_nwnr,hombres_nwnr,percent_nativos
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,1,1,4,284,290,1,579,54.0,82.0,49.0
47,47,JUNIN,JAUJA,P.JAUJA,69,71,140,375,327,702,...,0,0,63,117,662,0,842,60.0,56.0,14.0
51,51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,...,0,0,0,195,55,0,250,95.0,52.0,78.0
57,57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,...,0,0,0,240,8,0,248,91.0,86.0,97.0
74,74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,...,0,0,0,333,27,0,360,84.0,80.0,92.0
96,96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,...,0,0,0,141,282,0,423,80.0,67.0,33.0
97,97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,...,0,0,0,183,65,0,248,97.0,61.0,74.0
121,121,JUNIN,SAN GERÓNIMO,P.SAN GERÓNIMO,51,42,93,246,238,484,...,0,0,348,157,72,0,577,79.0,54.0,27.0
161,161,JUNIN,TARMA,P.TARMA,107,117,224,386,427,813,...,3,1,158,189,689,1,1037,70.0,53.0,18.0

In [27]:
base = base.sort_values(["Total_Poblacion","natives"], ascending = [True,True]) 
base.head()

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,foreign_men,foreign_women,whites,natives,mestizos,blacks,Total_Poblacion,mujeres_nwnr,hombres_nwnr,percent_nativos
97,97,JUNIN,CONCEPCIÓN,SANTA ROSA DE OCOPA,28,32,60,95,93,188,...,0,0,0,183,65,0,248,97.0,61.0,74.0
57,57,JUNIN,JAUJA,P.RICRÁN,36,21,57,98,93,191,...,0,0,0,240,8,0,248,91.0,86.0,97.0
51,51,JUNIN,JAUJA,A.HUERTAS,22,38,60,103,87,190,...,0,0,0,195,55,0,250,95.0,52.0,78.0
74,74,JUNIN,ACOLLA,P.ACOLLA,45,38,83,160,117,277,...,0,0,0,333,27,0,360,84.0,80.0,92.0
96,96,JUNIN,CONCEPCIÓN,P.CONCEPCIÓN,38,43,81,178,164,342,...,0,0,0,141,282,0,423,80.0,67.0,33.0

In [35]:
base_new = base[['mujeres_nwnr','hombres_nwnr','percent_nativos','District', 'Place']]
base_new

,mujeres_nwnr,hombres_nwnr,percent_nativos,District,Place
97,97.0,61.0,74.0,CONCEPCIÓN,SANTA ROSA DE OCOPA
57,91.0,86.0,97.0,JAUJA,P.RICRÁN
51,95.0,52.0,78.0,JAUJA,A.HUERTAS
74,84.0,80.0,92.0,ACOLLA,P.ACOLLA
96,80.0,67.0,33.0,CONCEPCIÓN,P.CONCEPCIÓN
121,79.0,54.0,27.0,SAN GERÓNIMO,P.SAN GERÓNIMO
0,54.0,82.0,49.0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO
47,60.0,56.0,14.0,JAUJA,P.JAUJA
161,70.0,53.0,18.0,TARMA,P.TARMA

In [29]:
#Separando la base datos en 2
Base_1 = base_new.iloc[0:4]
Base_2 = base_new.iloc[4:10]

In [30]:
Base_1

,mujeres_nwnr,hombres_nwnr,percent_nativos,District,Place
97,97.0,61.0,74.0,CONCEPCIÓN,SANTA ROSA DE OCOPA
57,91.0,86.0,97.0,JAUJA,P.RICRÁN
51,95.0,52.0,78.0,JAUJA,A.HUERTAS
74,84.0,80.0,92.0,ACOLLA,P.ACOLLA

In [31]:
Base_2

,mujeres_nwnr,hombres_nwnr,percent_nativos,District,Place
96,80.0,67.0,33.0,CONCEPCIÓN,P.CONCEPCIÓN
121,79.0,54.0,27.0,SAN GERÓNIMO,P.SAN GERÓNIMO
0,54.0,82.0,49.0,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO
47,60.0,56.0,14.0,JAUJA,P.JAUJA
161,70.0,53.0,18.0,TARMA,P.TARMA

In [32]:
Base_1.to_excel('Base1_WG(Grupo6).xlsx', sheet_name='Base1_WG(Grupo6)') # Gurdando el archivo excel

Crear una función que me permita extraer columnas un rango de columnas y de filas. Crear una función que me permite extraer una columna según el nombre de la variable y dos filas.

In [39]:
def extract_1(df,x,y,m,n):
    result = df.loc[m:n,(x,y)]
    return result

In [40]:
extract_1(junin_data, 'District', 'Place', 1, 3)

           District         Place
1  CIUDAD DEL CERRO  P.YANACANCHA
2  CIUDAD DEL CERRO          VICO
3  CIUDAD DEL CERRO         RANCA

In [41]:
def extract_2(df,x,m,n):
    result = df.loc[m:n,x]
    return result

In [42]:
extract_2(junin_data, 'District', 1, 3)

1    CIUDAD DEL CERRO
2    CIUDAD DEL CERRO
3    CIUDAD DEL CERRO
Name: District, dtype: object